# Uma versão do exercício 3 usando o ORM Sqlalchemy.

In [2]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading https://files.pythonhosted.org/packages/34/5c/0e1d7ad0ca52544bb12f9cb8d5cc454af45821c92160ffedd38db0a317f6/SQLAlchemy-1.3.11.tar.gz (6.0MB)
    100% |████████████████████████████████| 6.0MB 183kB/s ta 0:00:01    35% |███████████▍                    | 2.1MB 1.4MB/s eta 0:00:03
Installing collected packages: SQLAlchemy
  Running setup.py install for SQLAlchemy ... done
Successfully installed SQLAlchemy-1.3.11
You are using pip version 9.0.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
from sqlalchemy import create_engine, Column, String, Integer, Table, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

Base = declarative_base()

class Book(Base):
    __tablename__ = "books"
    id = Column('id', Integer, primary_key=True)
    key = Column('key', String)
    title = Column('title', String(150))
    published_year = Column('published_year', Integer)
    #subjects = relationship("Subject", backref="books")

            
class Subject(Base):        
    __tablename__ = "subjects"
    id = Column('id', Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('books.id'))
    subject = Column('subject', String)
    book = relationship("Book", back_populates="subjects")
    
Book.subjects = relationship("Subject", order_by=Subject.id, back_populates="book")

engine = create_engine('postgresql://vsantos93:swordfish@localhost:5432/teste', echo=True)
Base.metadata.create_all(bind=engine)
Session = sessionmaker(bind=engine)
session = Session()
session.commit()
session.close()

2019-12-19 17:55:48,911 INFO sqlalchemy.engine.base.Engine select version()
2019-12-19 17:55:48,912 INFO sqlalchemy.engine.base.Engine {}
2019-12-19 17:55:48,915 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-12-19 17:55:48,917 INFO sqlalchemy.engine.base.Engine {}
2019-12-19 17:55:48,922 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-12-19 17:55:48,923 INFO sqlalchemy.engine.base.Engine {}
2019-12-19 17:55:48,926 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-12-19 17:55:48,928 INFO sqlalchemy.engine.base.Engine {}
2019-12-19 17:55:48,930 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-12-19 17:55:48,932 INFO sqlalchemy.engine.base.Engine {}
2019-12-19 17:55:48,937 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-12-19 17:55:48,940 INFO sqlalchemy.engine.base.Engine {'name': 'books'}
2019-12-19 17:55:48,948 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-12-19 17:55:48,949 INFO sqlalchemy.engine.base.Engine {'name': 'subjects'}

Pra fazer a relação many to many entre os livros
https://www.youtube.com/watch?v=OvhoYbjtiKc

Relação foreignkey 
https://docs.sqlalchemy.org/en/13/orm/basic_relationships.html

In [1]:
#handling the file
import json
with open('livros_python.json') as arquivo:
    books = json.load(arquivo)
print(type(books))
print(type(books[0]))
print(books[1])
"""I have a dictionary list"""

<class 'list'>
<class 'dict'>
{'title_suggest': 'Pythons of Australia', 'edition_key': ['OL707632M'], 'isbn': ['0965744612', '9780965744614'], 'has_fulltext': False, 'text': ['OL707632M', '0965744612', '9780965744614', 'Brian A. Kend', 'Schuett, Laura White.', 'Schuett, Gordon W.', 'OL406588A', 'Pythons of Australia', 'Brian A. Kend ; edited by Gordon W. Schuett and Laura White Schuett.', 'Pythons', '/works/OL2765069W', 'Canyonlands Pub. Group', '97069689', 'Australia'], 'author_name': ['Brian A. Kend'], 'seed': ['/books/OL707632M', '/works/OL2765069W', '/subjects/pythons', '/subjects/place:australia', '/authors/OL406588A'], 'contributor': ['Schuett, Laura White.', 'Schuett, Gordon W.'], 'author_key': ['OL406588A'], 'subject': ['Pythons'], 'title': 'Pythons of Australia', 'publish_date': ['1997'], 'type': 'work', 'ebook_count_i': 0, 'publish_place': ['Provo, Utah'], 'edition_count': 1, 'key': '/works/OL2765069W', 'id_goodreads': ['3813466'], 'publisher': ['Canyonlands Pub. Group'], 'language': ['eng'], 'lccn': ['97069689'], 'last_modified_i': 1280521914, 'id_librarything': ['1301740'], 'publish_year': [1997], 'first_publish_year': 1997, 'place': ['Australia']}

'I have a dictionary list'

In [3]:
#Inserting data from the json file
for id, each_book in enumerate(books):
    key = each_book['key']
    title = each_book['title']
    published_year = (each_book['publish_year'][0])
    subject_list = each_book['subject']
    bookSubject = Subject(subject = subject_list)
    newBook = Book(id = id, key = key, title = title, published_year = published_year)
    newBook.subjects = [bookSubject]
    session.add(newBook)
session.commit()
session.close()

2019-12-19 17:24:41,165 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:24:41,169 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:24:41,171 INFO sqlalchemy.engine.base.Engine ({'id': 0, 'key': '/works/OL12266083W', 'title': 'Pythons and their ways', 'published_year': 1930}, {'id': 1, 'key': '/works/OL2765069W', 'title': 'Pythons of Australia', 'published_year': 1997}, {'id': 2, 'key': '/works/OL7551864W', 'title': 'Pythons and their ways', 'published_year': 1930}, {'id': 3, 'key': '/works/OL19543337W', 'title': 'Python Programming: An Introduction to Computer Science, 3rd Ed.', 'published_year': 2016}, {'id': 4, 'key': '/works/OL2913736W', 'title': 'Pythons', 'published_year': 1996}, {'id': 5, 'key': '/works/OL2723583W', 'title': 'Pythons', 'published_year': 2009}, {'id': 6, 'key': '/works/OL2684899W', 'title': 'The first 20 years of Monty Python', 'published_year': 1989}, {'id': 7, 'key': '/works/OL2367908W', 'title': 'Python annotated archives', 'published_year': 1999}  ... displaying 10 of 100 total bound parameter sets ...  {'id': 98, 'key': '/works/OL15909399W', 'title': 'Pythons', 'published_year': 2011}, {'id': 99, 'key': '/works/OL18657847W', 'title': 'The practice of computing using Python', 'published_year': 2010})
2019-12-19 17:24:41,214 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,215 INFO sqlalchemy.engine.base.Engine {'parent_id': 0, 'subject': ['Pythons']}
2019-12-19 17:24:41,217 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,218 INFO sqlalchemy.engine.base.Engine {'parent_id': 1, 'subject': ['Pythons']}
2019-12-19 17:24:41,222 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,225 INFO sqlalchemy.engine.base.Engine {'parent_id': 2, 'subject': ['Pythons']}
2019-12-19 17:24:41,227 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,230 INFO sqlalchemy.engine.base.Engine {'parent_id': 3, 'subject': ['Python', 'Python (Computer program language)']}
2019-12-19 17:24:41,232 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,233 INFO sqlalchemy.engine.base.Engine {'parent_id': 4, 'subject': ['Juvenile literature', 'Snakes', 'Pythons']}
2019-12-19 17:24:41,235 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,237 INFO sqlalchemy.engine.base.Engine {'parent_id': 5, 'subject': ['Pythons as pets']}
2019-12-19 17:24:41,249 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,250 INFO sqlalchemy.engine.base.Engine {'parent_id': 6, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-19 17:24:41,252 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,254 INFO sqlalchemy.engine.base.Engine {'parent_id': 7, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,259 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,260 INFO sqlalchemy.engine.base.Engine {'parent_id': 8, 'subject': ['python', 'biopython', 'bioinformatics']}
2019-12-19 17:24:41,263 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,264 INFO sqlalchemy.engine.base.Engine {'parent_id': 9, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-19 17:24:41,270 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,271 INFO sqlalchemy.engine.base.Engine {'parent_id': 10, 'subject': ['Python', 'Game Programming']}
2019-12-19 17:24:41,275 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,278 INFO sqlalchemy.engine.base.Engine {'parent_id': 11, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,281 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,282 INFO sqlalchemy.engine.base.Engine {'parent_id': 12, 'subject': ['Ball pythons as pets']}
2019-12-19 17:24:41,284 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,285 INFO sqlalchemy.engine.base.Engine {'parent_id': 13, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,287 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,288 INFO sqlalchemy.engine.base.Engine {'parent_id': 14, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,290 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,295 INFO sqlalchemy.engine.base.Engine {'parent_id': 15, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,297 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,298 INFO sqlalchemy.engine.base.Engine {'parent_id': 16, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,301 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,304 INFO sqlalchemy.engine.base.Engine {'parent_id': 17, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-19 17:24:41,309 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,311 INFO sqlalchemy.engine.base.Engine {'parent_id': 18, 'subject': ['Ball pythons as pets']}
2019-12-19 17:24:41,313 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,314 INFO sqlalchemy.engine.base.Engine {'parent_id': 19, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-19 17:24:41,316 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,317 INFO sqlalchemy.engine.base.Engine {'parent_id': 20, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,320 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,321 INFO sqlalchemy.engine.base.Engine {'parent_id': 21, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,324 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,335 INFO sqlalchemy.engine.base.Engine {'parent_id': 22, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-19 17:24:41,339 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,340 INFO sqlalchemy.engine.base.Engine {'parent_id': 23, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-19 17:24:41,343 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id

2019-12-19 17:24:41,344 INFO sqlalchemy.engine.base.Engine {'parent_id': 24, 'subject': ['Pictorial works', 'Pythons']}
2019-12-19 17:24:41,346 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,347 INFO sqlalchemy.engine.base.Engine {'parent_id': 25, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-19 17:24:41,350 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,351 INFO sqlalchemy.engine.base.Engine {'parent_id': 26, 'subject': ['Ball pythons as pets']}
2019-12-19 17:24:41,355 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,356 INFO sqlalchemy.engine.base.Engine {'parent_id': 27, 'subject': ['Burmese pythons as pets']}
2019-12-19 17:24:41,360 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,361 INFO sqlalchemy.engine.base.Engine {'parent_id': 28, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-19 17:24:41,364 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,365 INFO sqlalchemy.engine.base.Engine {'parent_id': 29, 'subject': ['Obedience', 'Pythons', 'Fiction']}
2019-12-19 17:24:41,367 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,377 INFO sqlalchemy.engine.base.Engine {'parent_id': 30, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,390 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,391 INFO sqlalchemy.engine.base.Engine {'parent_id': 31, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,394 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,396 INFO sqlalchemy.engine.base.Engine {'parent_id': 32, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,398 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,399 INFO sqlalchemy.engine.base.Engine {'parent_id': 33, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,401 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,402 INFO sqlalchemy.engine.base.Engine {'parent_id': 34, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,405 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,406 INFO sqlalchemy.engine.base.Engine {'parent_id': 35, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,408 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,409 INFO sqlalchemy.engine.base.Engine {'parent_id': 36, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-19 17:24:41,411 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,412 INFO sqlalchemy.engine.base.Engine {'parent_id': 37, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,415 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,416 INFO sqlalchemy.engine.base.Engine {'parent_id': 38, 'subject': ['Juvenile fiction', 'Pythons', 'Fiction']}
2019-12-19 17:24:41,418 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,432 INFO sqlalchemy.engine.base.Engine {'parent_id': 39, 'subject': ['Ball pythons as pets']}
2019-12-19 17:24:41,434 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,436 INFO sqlalchemy.engine.base.Engine {'parent_id': 40, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,439 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,442 INFO sqlalchemy.engine.base.Engine {'parent_id': 41, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,445 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,446 INFO sqlalchemy.engine.base.Engine {'parent_id': 42, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,448 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,449 INFO sqlalchemy.engine.base.Engine {'parent_id': 43, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,451 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,452 INFO sqlalchemy.engine.base.Engine {'parent_id': 44, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,455 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,456 INFO sqlalchemy.engine.base.Engine {'parent_id': 45, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,458 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,459 INFO sqlalchemy.engine.base.Engine {'parent_id': 46, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,462 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,463 INFO sqlalchemy.engine.base.Engine {'parent_id': 47, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,465 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,466 INFO sqlalchemy.engine.base.Engine {'parent_id': 48, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,468 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,469 INFO sqlalchemy.engine.base.Engine {'parent_id': 49, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-19 17:24:41,472 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,473 INFO sqlalchemy.engine.base.Engine {'parent_id': 50, 'subject': ['Python (Computer program language)']}
2019-12-19 17:24:41,491 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,495 INFO sqlalchemy.engine.base.Engine {'parent_id': 51, 'subject': ['Ball pythons as pets']}
2019-12-19 17:24:41,499 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,500 INFO sqlalchemy.engine.base.Engine {'parent_id': 52, 'subject': ['Drama', 'Monty Python (Comedy troupe)']}
2019-12-19 17:24:41,502 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id

2019-12-19 17:24:41,504 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-19 17:24:41,510 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,511 INFO sqlalchemy.engine.base.Engine {'parent_id': 54, 'subject': ['Computer Technology', 'Python (Computer program language)', 'Accessible book', 'Python (Programmiersprache)', 'Nonfiction', 'Protected DAISY']}
2019-12-19 17:24:41,513 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,514 INFO sqlalchemy.engine.base.Engine {'parent_id': 55, 'subject': ['python', 'Python (Computer program language)', 'Accessible book', 'programming', 'Protected DAISY']}
2019-12-19 17:24:41,516 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,518 INFO sqlalchemy.engine.base.Engine {'parent_id': 56, 'subject': ['Comedians', 'Monty Python (Comedy troupe)']}
2019-12-19 17:24:41,521 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,522 INFO sqlalchemy.engine.base.Engine {'parent_id': 57, 'subject': ['biology', 'Snakes', 'African python', 'boa constrictor', 'anaconda', 'Burmese python', 'reticulated python', 'nonfiction']}
2019-12-19 17:24:41,529 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,530 INFO sqlalchemy.engine.base.Engine {'parent_id': 58, 'subject': ['Python (Monty) Pictures', 'Monty Python (Comedy troupe)', 'Censorship']}
2019-12-19 17:24:41,533 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,534 INFO sqlalchemy.engine.base.Engine {'parent_id': 59, 'subject': ['Python <Programmiersprache>', 'Verzeichnis', 'Accessible book', 'Python (Programmiersprache)', 'Protected DAISY', 'Befehlsvorrat']}
2019-12-19 17:24:41,538 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,541 INFO sqlalchemy.engine.base.Engine {'parent_id': 60, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation', 'Technology']}
2019-12-19 17:24:41,544 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,545 INFO sqlalchemy.engine.base.Engine {'parent_id': 61, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation']}
2019-12-19 17:24:41,547 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,549 INFO sqlalchemy.engine.base.Engine {'parent_id': 62, 'subject': ['Python <Programmiersprache>', 'Python', '(Programmiersprache)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:24:41,551 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,553 INFO sqlalchemy.engine.base.Engine {'parent_id': 63, 'subject': ['Accessible book', 'Python (Programmiersprache)', 'Python 3.0.', 'Protected DAISY']}
2019-12-19 17:24:41,556 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,557 INFO sqlalchemy.engine.base.Engine {'parent_id': 64, 'subject': ['Python 3.0', 'Accessible book', 'Python 3.0.', 'Protected DAISY']}
2019-12-19 17:24:41,560 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,565 INFO sqlalchemy.engine.base.Engine {'parent_id': 65, 'subject': ['Introduced reptiles', 'Python (Genus)', 'Burmese python', 'Internet Archive Wishlist']}
2019-12-19 17:24:41,568 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,571 INFO sqlalchemy.engine.base.Engine {'parent_id': 66, 'subject': ['Pythons -- Fiction.', 'Jungle animals -- Fiction.']}
2019-12-19 17:24:41,576 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,577 INFO sqlalchemy.engine.base.Engine {'parent_id': 67, 'subject': ['Drama', 'Monty Python (Comedy troupe)']}
2019-12-19 17:24:41,579 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,580 INFO sqlalchemy.engine.base.Engine {'parent_id': 68, 'subject': ['Python (Computer program language)', 'Bioinformatics']}
2019-12-19 17:24:41,589 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,590 INFO sqlalchemy.engine.base.Engine {'parent_id': 69, 'subject': ['Python (Computer program language)', 'Bioinformatics']}
2019-12-19 17:24:41,592 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,593 INFO sqlalchemy.engine.base.Engine {'parent_id': 70, 'subject': ['Law and legislation', 'Pythons', 'Boidae']}
2019-12-19 17:24:41,595 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,597 INFO sqlalchemy.engine.base.Engine {'parent_id': 71, 'subject': ['Juvenile fiction', 'Mice', 'Pythons', 'Elephants']}
2019-12-19 17:24:41,604 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,608 INFO sqlalchemy.engine.base.Engine {'parent_id': 72, 'subject': ['Python (Computer program language)', 'Microcontrollers']}
2019-12-19 17:24:41,611 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,612 INFO sqlalchemy.engine.base.Engine {'parent_id': 73, 'subject': ['In library', 'Accessible book', 'Anaconda', 'African rock python', 'Protected DAISY', 'Indian python', 'Reticulated python']}
2019-12-19 17:24:41,615 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,616 INFO sqlalchemy.engine.base.Engine {'parent_id': 74, 'subject': ["Monty Python's Flying Circus (Television program)", 'Television', 'Monty Python (Comedy troupe)', 'Censorship']}
2019-12-19 17:24:41,624 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,626 INFO sqlalchemy.engine.base.Engine {'parent_id': 75, 'subject': ['Python (programmeertaal)', 'In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:24:41,628 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,629 INFO sqlalchemy.engine.base.Engine {'parent_id': 76, 'subject': ['Multimedia systems', 'Python (Computer program language)']}
2019-12-19 17:24:41,632 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id

2019-12-19 17:24:41,633 INFO sqlalchemy.engine.base.Engine {'parent_id': 77, 'subject': ["Monty Python's Flying Circus (Television program)"]}
2019-12-19 17:24:41,635 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,638 INFO sqlalchemy.engine.base.Engine {'parent_id': 78, 'subject': ['Snakes as pets', 'Pets', 'Pythons', 'Fiction']}
2019-12-19 17:24:41,646 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,647 INFO sqlalchemy.engine.base.Engine {'parent_id': 79, 'subject': ['In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:24:41,650 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,652 INFO sqlalchemy.engine.base.Engine {'parent_id': 80, 'subject': ['Accessible book', 'Python (Computer program language)', 'Protected DAISY']}
2019-12-19 17:24:41,655 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,659 INFO sqlalchemy.engine.base.Engine {'parent_id': 81, 'subject': ['In library', 'Snakes', 'Accessible book', 'Protected DAISY', 'Indian python', 'Juvenile literature', 'Pythons']}
2019-12-19 17:24:41,661 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,662 INFO sqlalchemy.engine.base.Engine {'parent_id': 82, 'subject': ['Python (Monty) Pictures', 'In library', 'Accessible book', 'Monty Python (Comedy troupe)', "Monty Python's Flying Circus (Television program)", 'Comedians', 'Protected DAISY', 'Biography']}
2019-12-19 17:24:41,664 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,665 INFO sqlalchemy.engine.base.Engine {'parent_id': 83, 'subject': ['Pythons', 'Humorous stories', 'Snakes', 'Family life', 'Fiction']}
2019-12-19 17:24:41,667 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,669 INFO sqlalchemy.engine.base.Engine {'parent_id': 84, 'subject': ['Anatomy', 'Pelvic bones', 'Embryology', 'Reticulated python']}
2019-12-19 17:24:41,677 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,678 INFO sqlalchemy.engine.base.Engine {'parent_id': 85, 'subject': ['Computer programming', 'Python (Computer program language)']}
2019-12-19 17:24:41,681 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,682 INFO sqlalchemy.engine.base.Engine {'parent_id': 86, 'subject': ['Boidae', 'Juvenile literature', 'Boa constrictor', 'Pythons', 'Snakes']}
2019-12-19 17:24:41,685 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,687 INFO sqlalchemy.engine.base.Engine {'parent_id': 87, 'subject': ['Computer programming', 'Python (Computer program language)']}
2019-12-19 17:24:41,692 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,693 INFO sqlalchemy.engine.base.Engine {'parent_id': 88, 'subject': ['Python (Computer program language)', 'Microsoft Win32']}
2019-12-19 17:24:41,696 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,697 INFO sqlalchemy.engine.base.Engine {'parent_id': 89, 'subject': ['Stories in rhyme', 'Snakes', 'Pythons', 'Fiction']}
2019-12-19 17:24:41,699 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,700 INFO sqlalchemy.engine.base.Engine {'parent_id': 90, 'subject': ["Monty Python's complete waste of time"]}
2019-12-19 17:24:41,702 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,704 INFO sqlalchemy.engine.base.Engine {'parent_id': 91, 'subject': ['Reproduction', 'Breeding', 'Snake culture', 'Pythons', 'Boidae']}
2019-12-19 17:24:41,714 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,715 INFO sqlalchemy.engine.base.Engine {'parent_id': 92, 'subject': ['Python (Computer program language)', 'Microsoft Win32']}
2019-12-19 17:24:41,718 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,721 INFO sqlalchemy.engine.base.Engine {'parent_id': 93, 'subject': ['Ball pythons as pets', 'Juvenile literature']}
2019-12-19 17:24:41,731 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,732 INFO sqlalchemy.engine.base.Engine {'parent_id': 94, 'subject': ['Multimedia systems', 'Python (Computer program language)']}
2019-12-19 17:24:41,734 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,738 INFO sqlalchemy.engine.base.Engine {'parent_id': 95, 'subject': ['Python (Computer program language)', 'Programming', 'Computer games']}
2019-12-19 17:24:41,741 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,744 INFO sqlalchemy.engine.base.Engine {'parent_id': 96, 'subject': ['Juvenile literature', 'Pythons', 'Internet Archive Wishlist']}
2019-12-19 17:24:41,747 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,748 INFO sqlalchemy.engine.base.Engine {'parent_id': 97, 'subject': ['Ball pythons as pets', 'Internet Archive Wishlist']}
2019-12-19 17:24:41,751 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,753 INFO sqlalchemy.engine.base.Engine {'parent_id': 98, 'subject': ['Juvenile literature', 'Pythons', 'Internet Archive Wishlist']}
2019-12-19 17:24:41,756 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:24:41,759 INFO sqlalchemy.engine.base.Engine {'parent_id': 99, 'subject': ['Computer programming', 'Python (Computer program language)']}
2019-12-19 17:24:41,768 INFO sqlalchemy.engine.base.Engine COMMIT

In [3]:
for id, each_book in enumerate(books):
    key = each_book['key']
    title = each_book['title']
    published_year = (each_book['publish_year'][0])
    subject_list = each_book['subject']
    newBook = Book(id = id, key = key, title = title, published_year = published_year)
    bookSubject = []
    for i, subject in enumerate(subject_list):
        bookSubject.append(Subject(subject = subject_list))
        newBook.subjects = bookSubject
        session.add(newBook)
    session.commit()
session.close()

2019-12-19 17:55:55,238 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,242 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,244 INFO sqlalchemy.engine.base.Engine {'id': 0, 'key': '/works/OL12266083W', 'title': 'Pythons and their ways', 'published_year': 1930}
2019-12-19 17:55:55,249 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,252 INFO sqlalchemy.engine.base.Engine {'parent_id': 0, 'subject': ['Pythons']}
2019-12-19 17:55:55,264 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,295 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,296 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,297 INFO sqlalchemy.engine.base.Engine {'id': 1, 'key': '/works/OL2765069W', 'title': 'Pythons of Australia', 'published_year': 1997}
2019-12-19 17:55:55,299 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,300 INFO sqlalchemy.engine.base.Engine {'parent_id': 1, 'subject': ['Pythons']}
2019-12-19 17:55:55,303 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,328 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,329 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,330 INFO sqlalchemy.engine.base.Engine {'id': 2, 'key': '/works/OL7551864W', 'title': 'Pythons and their ways', 'published_year': 1930}
2019-12-19 17:55:55,333 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,336 INFO sqlalchemy.engine.base.Engine {'parent_id': 2, 'subject': ['Pythons']}
2019-12-19 17:55:55,341 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,408 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,409 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,410 INFO sqlalchemy.engine.base.Engine {'id': 3, 'key': '/works/OL19543337W', 'title': 'Python Programming: An Introduction to Computer Science, 3rd Ed.', 'published_year': 2016}
2019-12-19 17:55:55,412 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,413 INFO sqlalchemy.engine.base.Engine {'parent_id': 3, 'subject': ['Python', 'Python (Computer program language)']}
2019-12-19 17:55:55,414 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,422 INFO sqlalchemy.engine.base.Engine {'parent_id': 3, 'subject': ['Python', 'Python (Computer program language)']}
2019-12-19 17:55:55,425 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,440 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,442 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,444 INFO sqlalchemy.engine.base.Engine {'id': 4, 'key': '/works/OL2913736W', 'title': 'Pythons', 'published_year': 1996}
2019-12-19 17:55:55,448 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,449 INFO sqlalchemy.engine.base.Engine {'parent_id': 4, 'subject': ['Juvenile literature', 'Snakes', 'Pythons']}
2019-12-19 17:55:55,455 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,457 INFO sqlalchemy.engine.base.Engine {'parent_id': 4, 'subject': ['Juvenile literature', 'Snakes', 'Pythons']}
2019-12-19 17:55:55,460 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,461 INFO sqlalchemy.engine.base.Engine {'parent_id': 4, 'subject': ['Juvenile literature', 'Snakes', 'Pythons']}
2019-12-19 17:55:55,463 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,473 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,476 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,478 INFO sqlalchemy.engine.base.Engine {'id': 5, 'key': '/works/OL2723583W', 'title': 'Pythons', 'published_year': 2009}
2019-12-19 17:55:55,482 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,485 INFO sqlalchemy.engine.base.Engine {'parent_id': 5, 'subject': ['Pythons as pets']}
2019-12-19 17:55:55,487 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,494 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,495 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,496 INFO sqlalchemy.engine.base.Engine {'id': 6, 'key': '/works/OL2684899W', 'title': 'The first 20 years of Monty Python', 'published_year': 1989}
2019-12-19 17:55:55,499 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,500 INFO sqlalchemy.engine.base.Engine {'parent_id': 6, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-19 17:55:55,503 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,516 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,517 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,520 INFO sqlalchemy.engine.base.Engine {'id': 7, 'key': '/works/OL2367908W', 'title': 'Python annotated archives', 'published_year': 1999}
2019-12-19 17:55:55,526 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,532 INFO sqlalchemy.engine.base.Engine {'parent_id': 7, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:55,537 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,550 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,551 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,552 INFO sqlalchemy.engine.base.Engine {'id': 8, 'key': '/works/OL9889200W', 'title': 'Python for bioinformatics', 'published_year': 2009}
2019-12-19 17:55:55,555 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,556 INFO sqlalchemy.engine.base.Engine {'parent_id': 8, 'subject': ['python', 'biopython', 'bioinformatics']}
2019-12-19 17:55:55,558 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,559 INFO sqlalchemy.engine.base.Engine {'parent_id': 8, 'subject': ['python', 'biopython', 'bioinformatics']}
2019-12-19 17:55:55,561 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,562 INFO sqlalchemy.engine.base.Engine {'parent_id': 8, 'subject': ['python', 'biopython', 'bioinformatics']}
2019-12-19 17:55:55,565 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,573 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2019-12-19 17:55:55,574 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,575 INFO sqlalchemy.engine.base.Engine {'id': 9, 'key': '/works/OL6724281W', 'title': 'Monty Python live!', 'published_year': 2009}
2019-12-19 17:55:55,579 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,582 INFO sqlalchemy.engine.base.Engine {'parent_id': 9, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-19 17:55:55,586 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,605 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,607 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,608 INFO sqlalchemy.engine.base.Engine {'id': 10, 'key': '/works/OL4110557W', 'title': 'Game Programming', 'published_year': 2007}
2019-12-19 17:55:55,611 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,612 INFO sqlalchemy.engine.base.Engine {'parent_id': 10, 'subject': ['Python', 'Game Programming']}
2019-12-19 17:55:55,626 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,627 INFO sqlalchemy.engine.base.Engine {'parent_id': 10, 'subject': ['Python', 'Game Programming']}
2019-12-19 17:55:55,629 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,639 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,640 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,642 INFO sqlalchemy.engine.base.Engine {'id': 11, 'key': '/works/OL16415478W', 'title': 'Introduction to programming with Python 3', 'published_year': 2011}
2019-12-19 17:55:55,645 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,646 INFO sqlalchemy.engine.base.Engine {'parent_id': 11, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:55,648 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,662 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,665 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,667 INFO sqlalchemy.engine.base.Engine {'id': 12, 'key': '/works/OL5819153W', 'title': 'Quick and easy ball python care', 'published_year': 2005}
2019-12-19 17:55:55,671 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,672 INFO sqlalchemy.engine.base.Engine {'parent_id': 12, 'subject': ['Ball pythons as pets']}
2019-12-19 17:55:55,675 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,683 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,686 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,687 INFO sqlalchemy.engine.base.Engine {'id': 13, 'key': '/works/OL5830811W', 'title': 'Python programming in context', 'published_year': 2009}
2019-12-19 17:55:55,692 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,693 INFO sqlalchemy.engine.base.Engine {'parent_id': 13, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:55,696 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,705 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,706 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,708 INFO sqlalchemy.engine.base.Engine {'id': 14, 'key': '/works/OL5798625W', 'title': 'Visual quickstart guide', 'published_year': 2002}
2019-12-19 17:55:55,715 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,716 INFO sqlalchemy.engine.base.Engine {'parent_id': 14, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:55,720 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,739 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,740 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,742 INFO sqlalchemy.engine.base.Engine {'id': 15, 'key': '/works/OL5798617W', 'title': 'Python', 'published_year': 2002}
2019-12-19 17:55:55,745 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,747 INFO sqlalchemy.engine.base.Engine {'parent_id': 15, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:55,750 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,761 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,763 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,765 INFO sqlalchemy.engine.base.Engine {'id': 16, 'key': '/works/OL13755386W', 'title': 'Learn to program using Python', 'published_year': 2001}
2019-12-19 17:55:55,773 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,774 INFO sqlalchemy.engine.base.Engine {'parent_id': 16, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:55,776 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,783 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,785 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,786 INFO sqlalchemy.engine.base.Engine {'id': 17, 'key': '/works/OL15624674W', 'title': 'And Now for Something Completely Digital', 'published_year': 2006}
2019-12-19 17:55:55,789 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,790 INFO sqlalchemy.engine.base.Engine {'parent_id': 17, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-19 17:55:55,796 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,806 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,808 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,809 INFO sqlalchemy.engine.base.Engine {'id': 18, 'key': '/works/OL15538361W', 'title': 'Ball pythons', 'published_year': 2010}
2019-12-19 17:55:55,811 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,811 INFO sqlalchemy.engine.base.Engine {'parent_id': 18, 'subject': ['Ball pythons as pets']}
2019-12-19 17:55:55,813 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,827 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,829 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,831 INFO sqlalchemy.engine.base.Engine {'id': 19, 'key': '/works/OL15581072W', 'title': 'Python', 'published_year': 2010}
2019-12-19 17:55:55,835 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id

2019-12-19 17:55:55,837 INFO sqlalchemy.engine.base.Engine {'parent_id': 19, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-19 17:55:55,840 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,840 INFO sqlalchemy.engine.base.Engine {'parent_id': 19, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-19 17:55:55,843 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,849 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,851 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,853 INFO sqlalchemy.engine.base.Engine {'id': 20, 'key': '/works/OL15496961W', 'title': 'The book of Python', 'published_year': 2008}
2019-12-19 17:55:55,857 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,858 INFO sqlalchemy.engine.base.Engine {'parent_id': 20, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:55,860 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,871 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,872 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,873 INFO sqlalchemy.engine.base.Engine {'id': 21, 'key': '/works/OL15537389W', 'title': 'Python programming', 'published_year': 2010}
2019-12-19 17:55:55,875 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,876 INFO sqlalchemy.engine.base.Engine {'parent_id': 21, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:55,883 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,894 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,895 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,896 INFO sqlalchemy.engine.base.Engine {'id': 22, 'key': '/works/OL15093433W', 'title': 'Pythons', 'published_year': 2010}
2019-12-19 17:55:55,903 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,904 INFO sqlalchemy.engine.base.Engine {'parent_id': 22, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-19 17:55:55,906 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,907 INFO sqlalchemy.engine.base.Engine {'parent_id': 22, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-19 17:55:55,908 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,919 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,920 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,923 INFO sqlalchemy.engine.base.Engine {'id': 23, 'key': '/works/OL15301139W', 'title': 'Pythons', 'published_year': 2010}
2019-12-19 17:55:55,925 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,926 INFO sqlalchemy.engine.base.Engine {'parent_id': 23, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-19 17:55:55,928 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,928 INFO sqlalchemy.engine.base.Engine {'parent_id': 23, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-19 17:55:55,930 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,941 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,942 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,943 INFO sqlalchemy.engine.base.Engine {'id': 24, 'key': '/works/OL3084468W', 'title': 'Pythons of the world', 'published_year': 1994}
2019-12-19 17:55:55,945 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,946 INFO sqlalchemy.engine.base.Engine {'parent_id': 24, 'subject': ['Pictorial works', 'Pythons']}
2019-12-19 17:55:55,947 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,948 INFO sqlalchemy.engine.base.Engine {'parent_id': 24, 'subject': ['Pictorial works', 'Pythons']}
2019-12-19 17:55:55,950 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,962 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,963 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,964 INFO sqlalchemy.engine.base.Engine {'id': 25, 'key': '/works/OL4127090W', 'title': 'Monty Python', 'published_year': 1991}
2019-12-19 17:55:55,966 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,967 INFO sqlalchemy.engine.base.Engine {'parent_id': 25, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-19 17:55:55,970 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:55,985 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:55,987 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:55,989 INFO sqlalchemy.engine.base.Engine {'id': 26, 'key': '/works/OL462447W', 'title': 'The general care and maintenance of ball pythons', 'published_year': 1990}
2019-12-19 17:55:55,992 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:55,993 INFO sqlalchemy.engine.base.Engine {'parent_id': 26, 'subject': ['Ball pythons as pets']}
2019-12-19 17:55:55,995 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,006 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,012 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,013 INFO sqlalchemy.engine.base.Engine {'id': 27, 'key': '/works/OL462449W', 'title': 'The general care and maintenance of Burmese pythons', 'published_year': 1991}
2019-12-19 17:55:56,016 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,017 INFO sqlalchemy.engine.base.Engine {'parent_id': 27, 'subject': ['Burmese pythons as pets']}
2019-12-19 17:55:56,023 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,038 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,039 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,040 INFO sqlalchemy.engine.base.Engine {'id': 28, 'key': '/works/OL5704547W', 'title': 'Python', 'published_year': 2010}
2019-12-19 17:55:56,042 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,042 INFO sqlalchemy.engine.base.Engine {'parent_id': 28, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-19 17:55:56,044 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,045 INFO sqlalchemy.engine.base.Engine {'parent_id': 28, 'subject': ['Juvenile literature', 'Pythons']}

2019-12-19 17:55:56,047 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,060 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,062 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,065 INFO sqlalchemy.engine.base.Engine {'id': 29, 'key': '/works/OL845386W', 'title': 'Abena and the python', 'published_year': 1991}
2019-12-19 17:55:56,070 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,072 INFO sqlalchemy.engine.base.Engine {'parent_id': 29, 'subject': ['Obedience', 'Pythons', 'Fiction']}
2019-12-19 17:55:56,075 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,076 INFO sqlalchemy.engine.base.Engine {'parent_id': 29, 'subject': ['Obedience', 'Pythons', 'Fiction']}
2019-12-19 17:55:56,078 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,078 INFO sqlalchemy.engine.base.Engine {'parent_id': 29, 'subject': ['Obedience', 'Pythons', 'Fiction']}
2019-12-19 17:55:56,080 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,093 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,094 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,096 INFO sqlalchemy.engine.base.Engine {'id': 30, 'key': '/works/OL16604897W', 'title': 'Hello! Python', 'published_year': 2012}
2019-12-19 17:55:56,098 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,099 INFO sqlalchemy.engine.base.Engine {'parent_id': 30, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,101 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,115 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,117 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,119 INFO sqlalchemy.engine.base.Engine {'id': 31, 'key': '/works/OL16486566W', 'title': 'Core python applications programming', 'published_year': 2012}
2019-12-19 17:55:56,124 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,125 INFO sqlalchemy.engine.base.Engine {'parent_id': 31, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,128 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,138 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,139 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,140 INFO sqlalchemy.engine.base.Engine {'id': 32, 'key': '/works/OL16112114W', 'title': 'Python fundamentals', 'published_year': 2009}
2019-12-19 17:55:56,142 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,144 INFO sqlalchemy.engine.base.Engine {'parent_id': 32, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,146 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,160 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,161 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,162 INFO sqlalchemy.engine.base.Engine {'id': 33, 'key': '/works/OL18367656W', 'title': 'The quick Python book', 'published_year': 2000}
2019-12-19 17:55:56,164 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,165 INFO sqlalchemy.engine.base.Engine {'parent_id': 33, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,170 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,182 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,183 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,186 INFO sqlalchemy.engine.base.Engine {'id': 34, 'key': '/works/OL18702408W', 'title': 'The book of Python', 'published_year': 2008}
2019-12-19 17:55:56,188 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,190 INFO sqlalchemy.engine.base.Engine {'parent_id': 34, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,192 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,205 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,209 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,210 INFO sqlalchemy.engine.base.Engine {'id': 35, 'key': '/works/OL19547247W', 'title': 'Sams Teach Yourself Python in 24 Hours', 'published_year': 2013}
2019-12-19 17:55:56,212 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,214 INFO sqlalchemy.engine.base.Engine {'parent_id': 35, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,216 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,227 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,228 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,229 INFO sqlalchemy.engine.base.Engine {'id': 36, 'key': '/works/OL19468836W', 'title': 'The Pythons', 'published_year': 2003}
2019-12-19 17:55:56,231 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,233 INFO sqlalchemy.engine.base.Engine {'parent_id': 36, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-19 17:55:56,240 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,249 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,250 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,252 INFO sqlalchemy.engine.base.Engine {'id': 37, 'key': '/works/OL19547665W', 'title': 'Testing Python: Applying Unit Testing, TDD, BDD and Acceptance Testing', 'published_year': 2014}
2019-12-19 17:55:56,255 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,257 INFO sqlalchemy.engine.base.Engine {'parent_id': 37, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,260 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,271 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,272 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,279 INFO sqlalchemy.engine.base.Engine {'id': 38, 'key': '/works/OL19989812W', 'title': 'Les pythons poilus', 'published_year': 2007}
2019-12-19 17:55:56,282 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,283 INFO sqlalchemy.engine.base.Engine {'parent_id': 38, 'subject': ['Juvenile fiction', 'Pythons', 'Fiction']}
2019-12-19 17:55:56,286 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id

2019-12-19 17:55:56,291 INFO sqlalchemy.engine.base.Engine {'parent_id': 38, 'subject': ['Juvenile fiction', 'Pythons', 'Fiction']}
2019-12-19 17:55:56,294 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,296 INFO sqlalchemy.engine.base.Engine {'parent_id': 38, 'subject': ['Juvenile fiction', 'Pythons', 'Fiction']}
2019-12-19 17:55:56,299 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,315 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,317 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,320 INFO sqlalchemy.engine.base.Engine {'id': 39, 'key': '/works/OL19441866W', 'title': 'The ball python manual', 'published_year': 1994}
2019-12-19 17:55:56,324 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,325 INFO sqlalchemy.engine.base.Engine {'parent_id': 39, 'subject': ['Ball pythons as pets']}
2019-12-19 17:55:56,329 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,337 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,339 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,343 INFO sqlalchemy.engine.base.Engine {'id': 40, 'key': '/works/OL19542542W', 'title': 'The Quick Python Book', 'published_year': 2018}
2019-12-19 17:55:56,350 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,353 INFO sqlalchemy.engine.base.Engine {'parent_id': 40, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,364 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,372 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,375 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,380 INFO sqlalchemy.engine.base.Engine {'id': 41, 'key': '/works/OL19543327W', 'title': 'Python Without Fear', 'published_year': 2017}
2019-12-19 17:55:56,390 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,392 INFO sqlalchemy.engine.base.Engine {'parent_id': 41, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,395 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,407 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,411 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,412 INFO sqlalchemy.engine.base.Engine {'id': 42, 'key': '/works/OL19545997W', 'title': 'Beginning Python: From Novice to Professional', 'published_year': 2017}
2019-12-19 17:55:56,416 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,417 INFO sqlalchemy.engine.base.Engine {'parent_id': 42, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,424 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,441 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,443 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,444 INFO sqlalchemy.engine.base.Engine {'id': 43, 'key': '/works/OL19715484W', 'title': 'Python made simple and practical', 'published_year': 2017}
2019-12-19 17:55:56,447 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,449 INFO sqlalchemy.engine.base.Engine {'parent_id': 43, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,459 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,472 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,473 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,474 INFO sqlalchemy.engine.base.Engine {'id': 44, 'key': '/works/OL17930434W', 'title': 'Coding Projects in Python', 'published_year': 2017}
2019-12-19 17:55:56,484 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,486 INFO sqlalchemy.engine.base.Engine {'parent_id': 44, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,490 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,505 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,510 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,511 INFO sqlalchemy.engine.base.Engine {'id': 45, 'key': '/works/OL19547738W', 'title': "Python Pocket Reference: Python In Your Pocket (Pocket Reference (O'Reilly))", 'published_year': 2014}
2019-12-19 17:55:56,514 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,518 INFO sqlalchemy.engine.base.Engine {'parent_id': 45, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,525 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,538 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,539 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,540 INFO sqlalchemy.engine.base.Engine {'id': 46, 'key': '/works/OL19548314W', 'title': 'Python Cookbook, Third edition', 'published_year': 2013}
2019-12-19 17:55:56,543 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,544 INFO sqlalchemy.engine.base.Engine {'parent_id': 46, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,547 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,560 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,561 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,565 INFO sqlalchemy.engine.base.Engine {'id': 47, 'key': '/works/OL17920482W', 'title': 'Python crash course', 'published_year': 2015}
2019-12-19 17:55:56,573 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,575 INFO sqlalchemy.engine.base.Engine {'parent_id': 47, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,578 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,594 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,595 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,596 INFO sqlalchemy.engine.base.Engine {'id': 48, 'key': '/works/OL20023508W', 'title': "A student's guide to Python for physical modeling", 'published_year': 2015}
2019-12-19 17:55:56,599 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,601 INFO sqlalchemy.engine.base.Engine {'parent_id': 48, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,607 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,616 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

2019-12-19 17:55:56,617 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,619 INFO sqlalchemy.engine.base.Engine {'id': 49, 'key': '/works/OL19978485W', 'title': 'Everything I ever needed to know about _____* I learned from Monty Python', 'published_year': 2014}
2019-12-19 17:55:56,625 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,626 INFO sqlalchemy.engine.base.Engine {'parent_id': 49, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-19 17:55:56,628 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,638 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,641 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,642 INFO sqlalchemy.engine.base.Engine {'id': 50, 'key': '/works/OL19546440W', 'title': 'Lean Python: Learn Just Enough Python to Build Useful Tools', 'published_year': 2016}
2019-12-19 17:55:56,644 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,645 INFO sqlalchemy.engine.base.Engine {'parent_id': 50, 'subject': ['Python (Computer program language)']}
2019-12-19 17:55:56,648 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,660 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,661 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,663 INFO sqlalchemy.engine.base.Engine {'id': 51, 'key': '/works/OL16233785W', 'title': 'The Ball Python (Advanced Vivarium Systems)', 'published_year': 2005}
2019-12-19 17:55:56,670 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,672 INFO sqlalchemy.engine.base.Engine {'parent_id': 51, 'subject': ['Ball pythons as pets']}
2019-12-19 17:55:56,676 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,694 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,695 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,698 INFO sqlalchemy.engine.base.Engine {'id': 52, 'key': '/works/OL18664432W', 'title': 'Pythonesque', 'published_year': 2009}
2019-12-19 17:55:56,705 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,706 INFO sqlalchemy.engine.base.Engine {'parent_id': 52, 'subject': ['Drama', 'Monty Python (Comedy troupe)']}
2019-12-19 17:55:56,720 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,723 INFO sqlalchemy.engine.base.Engine {'parent_id': 52, 'subject': ['Drama', 'Monty Python (Comedy troupe)']}
2019-12-19 17:55:56,726 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,740 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,743 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,744 INFO sqlalchemy.engine.base.Engine {'id': 53, 'key': '/works/OL2784132W', 'title': 'Learning Python', 'published_year': 1999}
2019-12-19 17:55:56,764 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,766 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-19 17:55:56,773 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,778 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-19 17:55:56,785 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,787 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-19 17:55:56,793 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,796 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-19 17:55:56,800 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,803 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-19 17:55:56,806 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,809 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-19 17:55:56,813 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,815 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-19 17:55:56,819 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,820 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}

2019-12-19 17:55:56,825 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,826 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-19 17:55:56,830 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,831 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-19 17:55:56,834 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,836 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-19 17:55:56,839 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,840 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-19 17:55:56,843 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,862 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,864 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,866 INFO sqlalchemy.engine.base.Engine {'id': 54, 'key': '/works/OL515806W', 'title': 'Python essential reference', 'published_year': 2000}
2019-12-19 17:55:56,871 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,877 INFO sqlalchemy.engine.base.Engine {'parent_id': 54, 'subject': ['Computer Technology', 'Python (Computer program language)', 'Accessible book', 'Python (Programmiersprache)', 'Nonfiction', 'Protected DAISY']}
2019-12-19 17:55:56,880 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,881 INFO sqlalchemy.engine.base.Engine {'parent_id': 54, 'subject': ['Computer Technology', 'Python (Computer program language)', 'Accessible book', 'Python (Programmiersprache)', 'Nonfiction', 'Protected DAISY']}
2019-12-19 17:55:56,884 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,886 INFO sqlalchemy.engine.base.Engine {'parent_id': 54, 'subject': ['Computer Technology', 'Python (Computer program language)', 'Accessible book', 'Python (Programmiersprache)', 'Nonfiction', 'Protected DAISY']}
2019-12-19 17:55:56,889 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,890 INFO sqlalchemy.engine.base.Engine {'parent_id': 54, 'subject': ['Computer Technology', 'Python (Computer program language)', 'Accessible book', 'Python (Programmiersprache)', 'Nonfiction', 'Protected DAISY']}
2019-12-19 17:55:56,892 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,894 INFO sqlalchemy.engine.base.Engine {'parent_id': 54, 'subject': ['Computer Technology', 'Python (Computer program language)', 'Accessible book', 'Python (Programmiersprache)', 'Nonfiction', 'Protected DAISY']}
2019-12-19 17:55:56,896 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,898 INFO sqlalchemy.engine.base.Engine {'parent_id': 54, 'subject': ['Computer Technology', 'Python (Computer program language)', 'Accessible book', 'Python (Programmiersprache)', 'Nonfiction', 'Protected DAISY']}
2019-12-19 17:55:56,900 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,918 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,930 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,930 INFO sqlalchemy.engine.base.Engine {'id': 55, 'key': '/works/OL515805W', 'title': 'Python Essential Reference', 'published_year': 2009}
2019-12-19 17:55:56,933 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,934 INFO sqlalchemy.engine.base.Engine {'parent_id': 55, 'subject': ['python', 'Python (Computer program language)', 'Accessible book', 'programming', 'Protected DAISY']}
2019-12-19 17:55:56,939 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,940 INFO sqlalchemy.engine.base.Engine {'parent_id': 55, 'subject': ['python', 'Python (Computer program language)', 'Accessible book', 'programming', 'Protected DAISY']}
2019-12-19 17:55:56,942 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,943 INFO sqlalchemy.engine.base.Engine {'parent_id': 55, 'subject': ['python', 'Python (Computer program language)', 'Accessible book', 'programming', 'Protected DAISY']}
2019-12-19 17:55:56,944 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,945 INFO sqlalchemy.engine.base.Engine {'parent_id': 55, 'subject': ['python', 'Python (Computer program language)', 'Accessible book', 'programming', 'Protected DAISY']}
2019-12-19 17:55:56,947 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,948 INFO sqlalchemy.engine.base.Engine {'parent_id': 55, 'subject': ['python', 'Python (Computer program language)', 'Accessible book', 'programming', 'Protected DAISY']}
2019-12-19 17:55:56,950 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,961 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,962 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,963 INFO sqlalchemy.engine.base.Engine {'id': 56, 'key': '/works/OL19417117W', 'title': "The Pythons' autobiography", 'published_year': 2003}
2019-12-19 17:55:56,965 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,966 INFO sqlalchemy.engine.base.Engine {'parent_id': 56, 'subject': ['Comedians', 'Monty Python (Comedy troupe)']}
2019-12-19 17:55:56,970 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id

2019-12-19 17:55:56,973 INFO sqlalchemy.engine.base.Engine {'parent_id': 56, 'subject': ['Comedians', 'Monty Python (Comedy troupe)']}
2019-12-19 17:55:56,976 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:56,993 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:56,995 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:56,995 INFO sqlalchemy.engine.base.Engine {'id': 57, 'key': '/works/OL13255673W', 'title': 'The giant snakes', 'published_year': 1961}
2019-12-19 17:55:56,997 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:56,998 INFO sqlalchemy.engine.base.Engine {'parent_id': 57, 'subject': ['biology', 'Snakes', 'African python', 'boa constrictor', 'anaconda', 'Burmese python', 'reticulated python', 'nonfiction']}
2019-12-19 17:55:57,001 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,007 INFO sqlalchemy.engine.base.Engine {'parent_id': 57, 'subject': ['biology', 'Snakes', 'African python', 'boa constrictor', 'anaconda', 'Burmese python', 'reticulated python', 'nonfiction']}
2019-12-19 17:55:57,009 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,010 INFO sqlalchemy.engine.base.Engine {'parent_id': 57, 'subject': ['biology', 'Snakes', 'African python', 'boa constrictor', 'anaconda', 'Burmese python', 'reticulated python', 'nonfiction']}
2019-12-19 17:55:57,012 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,014 INFO sqlalchemy.engine.base.Engine {'parent_id': 57, 'subject': ['biology', 'Snakes', 'African python', 'boa constrictor', 'anaconda', 'Burmese python', 'reticulated python', 'nonfiction']}
2019-12-19 17:55:57,017 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,020 INFO sqlalchemy.engine.base.Engine {'parent_id': 57, 'subject': ['biology', 'Snakes', 'African python', 'boa constrictor', 'anaconda', 'Burmese python', 'reticulated python', 'nonfiction']}
2019-12-19 17:55:57,025 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,027 INFO sqlalchemy.engine.base.Engine {'parent_id': 57, 'subject': ['biology', 'Snakes', 'African python', 'boa constrictor', 'anaconda', 'Burmese python', 'reticulated python', 'nonfiction']}
2019-12-19 17:55:57,029 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,030 INFO sqlalchemy.engine.base.Engine {'parent_id': 57, 'subject': ['biology', 'Snakes', 'African python', 'boa constrictor', 'anaconda', 'Burmese python', 'reticulated python', 'nonfiction']}
2019-12-19 17:55:57,032 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,033 INFO sqlalchemy.engine.base.Engine {'parent_id': 57, 'subject': ['biology', 'Snakes', 'African python', 'boa constrictor', 'anaconda', 'Burmese python', 'reticulated python', 'nonfiction']}
2019-12-19 17:55:57,035 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,048 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,049 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,050 INFO sqlalchemy.engine.base.Engine {'id': 58, 'key': '/works/OL3197500W', 'title': 'Monty Python, the case against irreverence, scurrility, profanity, vilification, and licentious abuse', 'published_year': 1981}
2019-12-19 17:55:57,052 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,053 INFO sqlalchemy.engine.base.Engine {'parent_id': 58, 'subject': ['Python (Monty) Pictures', 'Monty Python (Comedy troupe)', 'Censorship']}
2019-12-19 17:55:57,055 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,056 INFO sqlalchemy.engine.base.Engine {'parent_id': 58, 'subject': ['Python (Monty) Pictures', 'Monty Python (Comedy troupe)', 'Censorship']}
2019-12-19 17:55:57,058 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,065 INFO sqlalchemy.engine.base.Engine {'parent_id': 58, 'subject': ['Python (Monty) Pictures', 'Monty Python (Comedy troupe)', 'Censorship']}
2019-12-19 17:55:57,074 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,084 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,088 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,091 INFO sqlalchemy.engine.base.Engine {'id': 59, 'key': '/works/OL16941203W', 'title': 'Python-Referenz', 'published_year': 2001}
2019-12-19 17:55:57,095 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,096 INFO sqlalchemy.engine.base.Engine {'parent_id': 59, 'subject': ['Python <Programmiersprache>', 'Verzeichnis', 'Accessible book', 'Python (Programmiersprache)', 'Protected DAISY', 'Befehlsvorrat']}
2019-12-19 17:55:57,099 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,100 INFO sqlalchemy.engine.base.Engine {'parent_id': 59, 'subject': ['Python <Programmiersprache>', 'Verzeichnis', 'Accessible book', 'Python (Programmiersprache)', 'Protected DAISY', 'Befehlsvorrat']}
2019-12-19 17:55:57,107 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,109 INFO sqlalchemy.engine.base.Engine {'parent_id': 59, 'subject': ['Python <Programmiersprache>', 'Verzeichnis', 'Accessible book', 'Python (Programmiersprache)', 'Protected DAISY', 'Befehlsvorrat']}
2019-12-19 17:55:57,117 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,120 INFO sqlalchemy.engine.base.Engine {'parent_id': 59, 'subject': ['Python <Programmiersprache>', 'Verzeichnis', 'Accessible book', 'Python (Programmiersprache)', 'Protected DAISY', 'Befehlsvorrat']}
2019-12-19 17:55:57,126 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,127 INFO sqlalchemy.engine.base.Engine {'parent_id': 59, 'subject': ['Python <Programmiersprache>', 'Verzeichnis', 'Accessible book', 'Python (Programmiersprache)', 'Protected DAISY', 'Befehlsvorrat']}
2019-12-19 17:55:57,130 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,131 INFO sqlalchemy.engine.base.Engine {'parent_id': 59, 'subject': ['Python <Programmiersprache>', 'Verzeichnis', 'Accessible book', 'Python (Programmiersprache)', 'Protected DAISY', 'Befehlsvorrat']}
2019-12-19 17:55:57,134 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,155 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,157 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,161 INFO sqlalchemy.engine.base.Engine {'id': 60, 'key': '/works/OL17794722W', 'title': 'Introducción a la programación con Python 3', 'published_year': 2014}

2019-12-19 17:55:57,164 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,166 INFO sqlalchemy.engine.base.Engine {'parent_id': 60, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation', 'Technology']}
2019-12-19 17:55:57,170 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,174 INFO sqlalchemy.engine.base.Engine {'parent_id': 60, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation', 'Technology']}
2019-12-19 17:55:57,177 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,188 INFO sqlalchemy.engine.base.Engine {'parent_id': 60, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation', 'Technology']}
2019-12-19 17:55:57,191 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,193 INFO sqlalchemy.engine.base.Engine {'parent_id': 60, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation', 'Technology']}
2019-12-19 17:55:57,195 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,196 INFO sqlalchemy.engine.base.Engine {'parent_id': 60, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation', 'Technology']}
2019-12-19 17:55:57,198 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,200 INFO sqlalchemy.engine.base.Engine {'parent_id': 60, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation', 'Technology']}
2019-12-19 17:55:57,206 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,207 INFO sqlalchemy.engine.base.Engine {'parent_id': 60, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation', 'Technology']}
2019-12-19 17:55:57,210 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,226 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,228 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,230 INFO sqlalchemy.engine.base.Engine {'id': 61, 'key': '/works/OL17842208W', 'title': 'Python Guide Documentation', 'published_year': 2018}
2019-12-19 17:55:57,233 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,235 INFO sqlalchemy.engine.base.Engine {'parent_id': 61, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation']}
2019-12-19 17:55:57,238 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,241 INFO sqlalchemy.engine.base.Engine {'parent_id': 61, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation']}
2019-12-19 17:55:57,244 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,246 INFO sqlalchemy.engine.base.Engine {'parent_id': 61, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation']}
2019-12-19 17:55:57,248 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,249 INFO sqlalchemy.engine.base.Engine {'parent_id': 61, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation']}
2019-12-19 17:55:57,252 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,259 INFO sqlalchemy.engine.base.Engine {'parent_id': 61, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation']}
2019-12-19 17:55:57,263 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,266 INFO sqlalchemy.engine.base.Engine {'parent_id': 61, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation']}
2019-12-19 17:55:57,269 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,285 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,289 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,297 INFO sqlalchemy.engine.base.Engine {'id': 62, 'key': '/works/OL19849158W', 'title': 'Exploring Python', 'published_year': 2005}
2019-12-19 17:55:57,304 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,305 INFO sqlalchemy.engine.base.Engine {'parent_id': 62, 'subject': ['Python <Programmiersprache>', 'Python', '(Programmiersprache)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:57,313 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,314 INFO sqlalchemy.engine.base.Engine {'parent_id': 62, 'subject': ['Python <Programmiersprache>', 'Python', '(Programmiersprache)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:57,319 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,322 INFO sqlalchemy.engine.base.Engine {'parent_id': 62, 'subject': ['Python <Programmiersprache>', 'Python', '(Programmiersprache)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:57,326 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,333 INFO sqlalchemy.engine.base.Engine {'parent_id': 62, 'subject': ['Python <Programmiersprache>', 'Python', '(Programmiersprache)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:57,338 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,340 INFO sqlalchemy.engine.base.Engine {'parent_id': 62, 'subject': ['Python <Programmiersprache>', 'Python', '(Programmiersprache)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:57,343 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,361 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,365 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,366 INFO sqlalchemy.engine.base.Engine {'id': 63, 'key': '/works/OL16987403W', 'title': 'Python 3 - Intensivkurs', 'published_year': 2010}
2019-12-19 17:55:57,380 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,382 INFO sqlalchemy.engine.base.Engine {'parent_id': 63, 'subject': ['Accessible book', 'Python (Programmiersprache)', 'Python 3.0.', 'Protected DAISY']}
2019-12-19 17:55:57,386 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id

2019-12-19 17:55:57,388 INFO sqlalchemy.engine.base.Engine {'parent_id': 63, 'subject': ['Accessible book', 'Python (Programmiersprache)', 'Python 3.0.', 'Protected DAISY']}
2019-12-19 17:55:57,394 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,396 INFO sqlalchemy.engine.base.Engine {'parent_id': 63, 'subject': ['Accessible book', 'Python (Programmiersprache)', 'Python 3.0.', 'Protected DAISY']}
2019-12-19 17:55:57,399 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,400 INFO sqlalchemy.engine.base.Engine {'parent_id': 63, 'subject': ['Accessible book', 'Python (Programmiersprache)', 'Python 3.0.', 'Protected DAISY']}
2019-12-19 17:55:57,407 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,428 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,436 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,441 INFO sqlalchemy.engine.base.Engine {'id': 64, 'key': '/works/OL19897953W', 'title': 'Python 3', 'published_year': 2009}
2019-12-19 17:55:57,452 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,452 INFO sqlalchemy.engine.base.Engine {'parent_id': 64, 'subject': ['Python 3.0', 'Accessible book', 'Python 3.0.', 'Protected DAISY']}
2019-12-19 17:55:57,458 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,459 INFO sqlalchemy.engine.base.Engine {'parent_id': 64, 'subject': ['Python 3.0', 'Accessible book', 'Python 3.0.', 'Protected DAISY']}
2019-12-19 17:55:57,462 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,463 INFO sqlalchemy.engine.base.Engine {'parent_id': 64, 'subject': ['Python 3.0', 'Accessible book', 'Python 3.0.', 'Protected DAISY']}
2019-12-19 17:55:57,467 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,474 INFO sqlalchemy.engine.base.Engine {'parent_id': 64, 'subject': ['Python 3.0', 'Accessible book', 'Python 3.0.', 'Protected DAISY']}
2019-12-19 17:55:57,477 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,505 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,507 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,508 INFO sqlalchemy.engine.base.Engine {'id': 65, 'key': '/works/OL15941545W', 'title': 'Invasive pythons in the United States', 'published_year': 2011}
2019-12-19 17:55:57,512 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,513 INFO sqlalchemy.engine.base.Engine {'parent_id': 65, 'subject': ['Introduced reptiles', 'Python (Genus)', 'Burmese python', 'Internet Archive Wishlist']}
2019-12-19 17:55:57,515 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,519 INFO sqlalchemy.engine.base.Engine {'parent_id': 65, 'subject': ['Introduced reptiles', 'Python (Genus)', 'Burmese python', 'Internet Archive Wishlist']}
2019-12-19 17:55:57,524 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,525 INFO sqlalchemy.engine.base.Engine {'parent_id': 65, 'subject': ['Introduced reptiles', 'Python (Genus)', 'Burmese python', 'Internet Archive Wishlist']}
2019-12-19 17:55:57,528 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,532 INFO sqlalchemy.engine.base.Engine {'parent_id': 65, 'subject': ['Introduced reptiles', 'Python (Genus)', 'Burmese python', 'Internet Archive Wishlist']}
2019-12-19 17:55:57,539 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,548 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,549 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,550 INFO sqlalchemy.engine.base.Engine {'id': 66, 'key': '/works/OL3878109M', 'title': 'Walt Disney Productions presents Mowgli and Kaa the python.', 'published_year': 1981}
2019-12-19 17:55:57,554 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,561 INFO sqlalchemy.engine.base.Engine {'parent_id': 66, 'subject': ['Pythons -- Fiction.', 'Jungle animals -- Fiction.']}
2019-12-19 17:55:57,565 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,566 INFO sqlalchemy.engine.base.Engine {'parent_id': 66, 'subject': ['Pythons -- Fiction.', 'Jungle animals -- Fiction.']}
2019-12-19 17:55:57,570 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,583 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,586 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,587 INFO sqlalchemy.engine.base.Engine {'id': 67, 'key': '/works/OL16531221W', 'title': 'No naughty bits', 'published_year': 2011}
2019-12-19 17:55:57,592 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,593 INFO sqlalchemy.engine.base.Engine {'parent_id': 67, 'subject': ['Drama', 'Monty Python (Comedy troupe)']}
2019-12-19 17:55:57,596 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,598 INFO sqlalchemy.engine.base.Engine {'parent_id': 67, 'subject': ['Drama', 'Monty Python (Comedy troupe)']}
2019-12-19 17:55:57,604 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,614 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,615 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,616 INFO sqlalchemy.engine.base.Engine {'id': 68, 'key': '/works/OL15611338W', 'title': 'Python for bioinformatics', 'published_year': 2010}
2019-12-19 17:55:57,620 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,623 INFO sqlalchemy.engine.base.Engine {'parent_id': 68, 'subject': ['Python (Computer program language)', 'Bioinformatics']}
2019-12-19 17:55:57,626 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,627 INFO sqlalchemy.engine.base.Engine {'parent_id': 68, 'subject': ['Python (Computer program language)', 'Bioinformatics']}
2019-12-19 17:55:57,636 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,647 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,649 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,651 INFO sqlalchemy.engine.base.Engine {'id': 69, 'key': '/works/OL15596175W', 'title': 'Python for bioinformatics', 'published_year': 2010}
2019-12-19 17:55:57,659 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id

2019-12-19 17:55:57,662 INFO sqlalchemy.engine.base.Engine {'parent_id': 69, 'subject': ['Python (Computer program language)', 'Bioinformatics']}
2019-12-19 17:55:57,667 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,670 INFO sqlalchemy.engine.base.Engine {'parent_id': 69, 'subject': ['Python (Computer program language)', 'Bioinformatics']}
2019-12-19 17:55:57,674 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,680 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,682 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,683 INFO sqlalchemy.engine.base.Engine {'id': 70, 'key': '/works/OL15526138W', 'title': 'To amend Title 18, United States Code, to include constrictor snakes of the species Python genera as an injurious animal', 'published_year': 2010}
2019-12-19 17:55:57,686 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,688 INFO sqlalchemy.engine.base.Engine {'parent_id': 70, 'subject': ['Law and legislation', 'Pythons', 'Boidae']}
2019-12-19 17:55:57,697 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,699 INFO sqlalchemy.engine.base.Engine {'parent_id': 70, 'subject': ['Law and legislation', 'Pythons', 'Boidae']}
2019-12-19 17:55:57,702 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,710 INFO sqlalchemy.engine.base.Engine {'parent_id': 70, 'subject': ['Law and legislation', 'Pythons', 'Boidae']}
2019-12-19 17:55:57,713 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,725 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,728 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,731 INFO sqlalchemy.engine.base.Engine {'id': 71, 'key': '/works/OL19035395W', 'title': 'Xiao lao shu Beibei yu da mang she =', 'published_year': 2005}
2019-12-19 17:55:57,733 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,737 INFO sqlalchemy.engine.base.Engine {'parent_id': 71, 'subject': ['Juvenile fiction', 'Mice', 'Pythons', 'Elephants']}
2019-12-19 17:55:57,741 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,742 INFO sqlalchemy.engine.base.Engine {'parent_id': 71, 'subject': ['Juvenile fiction', 'Mice', 'Pythons', 'Elephants']}
2019-12-19 17:55:57,744 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,746 INFO sqlalchemy.engine.base.Engine {'parent_id': 71, 'subject': ['Juvenile fiction', 'Mice', 'Pythons', 'Elephants']}
2019-12-19 17:55:57,748 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,750 INFO sqlalchemy.engine.base.Engine {'parent_id': 71, 'subject': ['Juvenile fiction', 'Mice', 'Pythons', 'Elephants']}
2019-12-19 17:55:57,753 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,770 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,772 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,773 INFO sqlalchemy.engine.base.Engine {'id': 72, 'key': '/works/OL19543468W', 'title': 'Programming with MicroPython: Embedded Programming with Microcontrollers and Python', 'published_year': 2017}
2019-12-19 17:55:57,775 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,776 INFO sqlalchemy.engine.base.Engine {'parent_id': 72, 'subject': ['Python (Computer program language)', 'Microcontrollers']}
2019-12-19 17:55:57,778 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,779 INFO sqlalchemy.engine.base.Engine {'parent_id': 72, 'subject': ['Python (Computer program language)', 'Microcontrollers']}
2019-12-19 17:55:57,781 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,793 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,794 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,795 INFO sqlalchemy.engine.base.Engine {'id': 73, 'key': '/works/OL2955734W', 'title': 'Tales of giant snakes', 'published_year': 1997}
2019-12-19 17:55:57,797 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,798 INFO sqlalchemy.engine.base.Engine {'parent_id': 73, 'subject': ['In library', 'Accessible book', 'Anaconda', 'African rock python', 'Protected DAISY', 'Indian python', 'Reticulated python']}
2019-12-19 17:55:57,802 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,803 INFO sqlalchemy.engine.base.Engine {'parent_id': 73, 'subject': ['In library', 'Accessible book', 'Anaconda', 'African rock python', 'Protected DAISY', 'Indian python', 'Reticulated python']}
2019-12-19 17:55:57,815 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,818 INFO sqlalchemy.engine.base.Engine {'parent_id': 73, 'subject': ['In library', 'Accessible book', 'Anaconda', 'African rock python', 'Protected DAISY', 'Indian python', 'Reticulated python']}
2019-12-19 17:55:57,823 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,825 INFO sqlalchemy.engine.base.Engine {'parent_id': 73, 'subject': ['In library', 'Accessible book', 'Anaconda', 'African rock python', 'Protected DAISY', 'Indian python', 'Reticulated python']}
2019-12-19 17:55:57,827 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,828 INFO sqlalchemy.engine.base.Engine {'parent_id': 73, 'subject': ['In library', 'Accessible book', 'Anaconda', 'African rock python', 'Protected DAISY', 'Indian python', 'Reticulated python']}
2019-12-19 17:55:57,831 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,832 INFO sqlalchemy.engine.base.Engine {'parent_id': 73, 'subject': ['In library', 'Accessible book', 'Anaconda', 'African rock python', 'Protected DAISY', 'Indian python', 'Reticulated python']}
2019-12-19 17:55:57,834 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,839 INFO sqlalchemy.engine.base.Engine {'parent_id': 73, 'subject': ['In library', 'Accessible book', 'Anaconda', 'African rock python', 'Protected DAISY', 'Indian python', 'Reticulated python']}
2019-12-19 17:55:57,846 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,870 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,871 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,872 INFO sqlalchemy.engine.base.Engine {'id': 74, 'key': '/works/OL3197510W', 'title': 'Monty Python', 'published_year': 1981}

2019-12-19 17:55:57,875 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,876 INFO sqlalchemy.engine.base.Engine {'parent_id': 74, 'subject': ["Monty Python's Flying Circus (Television program)", 'Television', 'Monty Python (Comedy troupe)', 'Censorship']}
2019-12-19 17:55:57,878 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,879 INFO sqlalchemy.engine.base.Engine {'parent_id': 74, 'subject': ["Monty Python's Flying Circus (Television program)", 'Television', 'Monty Python (Comedy troupe)', 'Censorship']}
2019-12-19 17:55:57,881 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,883 INFO sqlalchemy.engine.base.Engine {'parent_id': 74, 'subject': ["Monty Python's Flying Circus (Television program)", 'Television', 'Monty Python (Comedy troupe)', 'Censorship']}
2019-12-19 17:55:57,887 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,895 INFO sqlalchemy.engine.base.Engine {'parent_id': 74, 'subject': ["Monty Python's Flying Circus (Television program)", 'Television', 'Monty Python (Comedy troupe)', 'Censorship']}
2019-12-19 17:55:57,898 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,914 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,915 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,919 INFO sqlalchemy.engine.base.Engine {'id': 75, 'key': '/works/OL15839297W', 'title': 'Python in a nutshell', 'published_year': 2002}
2019-12-19 17:55:57,923 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,924 INFO sqlalchemy.engine.base.Engine {'parent_id': 75, 'subject': ['Python (programmeertaal)', 'In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:57,926 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,927 INFO sqlalchemy.engine.base.Engine {'parent_id': 75, 'subject': ['Python (programmeertaal)', 'In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:57,930 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,931 INFO sqlalchemy.engine.base.Engine {'parent_id': 75, 'subject': ['Python (programmeertaal)', 'In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:57,933 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,936 INFO sqlalchemy.engine.base.Engine {'parent_id': 75, 'subject': ['Python (programmeertaal)', 'In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:57,940 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,942 INFO sqlalchemy.engine.base.Engine {'parent_id': 75, 'subject': ['Python (programmeertaal)', 'In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:57,947 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:57,960 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:57,962 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:57,964 INFO sqlalchemy.engine.base.Engine {'id': 76, 'key': '/works/OL5849465W', 'title': 'Introduction to computing and programming in Python', 'published_year': 2009}
2019-12-19 17:55:57,969 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,972 INFO sqlalchemy.engine.base.Engine {'parent_id': 76, 'subject': ['Multimedia systems', 'Python (Computer program language)']}
2019-12-19 17:55:57,976 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:57,977 INFO sqlalchemy.engine.base.Engine {'parent_id': 76, 'subject': ['Multimedia systems', 'Python (Computer program language)']}
2019-12-19 17:55:57,987 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,003 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,008 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,010 INFO sqlalchemy.engine.base.Engine {'id': 77, 'key': '/works/OL10538818W', 'title': 'The life of Python', 'published_year': 1986}
2019-12-19 17:55:58,012 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,013 INFO sqlalchemy.engine.base.Engine {'parent_id': 77, 'subject': ["Monty Python's Flying Circus (Television program)"]}
2019-12-19 17:55:58,016 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,027 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,029 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,036 INFO sqlalchemy.engine.base.Engine {'id': 78, 'key': '/works/OL3256725W', 'title': 'Pete the Python', 'published_year': 1997}
2019-12-19 17:55:58,039 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,040 INFO sqlalchemy.engine.base.Engine {'parent_id': 78, 'subject': ['Snakes as pets', 'Pets', 'Pythons', 'Fiction']}
2019-12-19 17:55:58,043 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,044 INFO sqlalchemy.engine.base.Engine {'parent_id': 78, 'subject': ['Snakes as pets', 'Pets', 'Pythons', 'Fiction']}
2019-12-19 17:55:58,047 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,048 INFO sqlalchemy.engine.base.Engine {'parent_id': 78, 'subject': ['Snakes as pets', 'Pets', 'Pythons', 'Fiction']}
2019-12-19 17:55:58,051 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,053 INFO sqlalchemy.engine.base.Engine {'parent_id': 78, 'subject': ['Snakes as pets', 'Pets', 'Pythons', 'Fiction']}
2019-12-19 17:55:58,056 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,071 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,072 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,076 INFO sqlalchemy.engine.base.Engine {'id': 79, 'key': '/works/OL2784131W', 'title': 'Programming Python', 'published_year': 2011}
2019-12-19 17:55:58,079 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,080 INFO sqlalchemy.engine.base.Engine {'parent_id': 79, 'subject': ['In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:58,082 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id

2019-12-19 17:55:58,083 INFO sqlalchemy.engine.base.Engine {'parent_id': 79, 'subject': ['In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:58,086 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,091 INFO sqlalchemy.engine.base.Engine {'parent_id': 79, 'subject': ['In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:58,097 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,098 INFO sqlalchemy.engine.base.Engine {'parent_id': 79, 'subject': ['In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-19 17:55:58,101 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,115 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,117 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,119 INFO sqlalchemy.engine.base.Engine {'id': 80, 'key': '/works/OL5825093W', 'title': 'Starting out with Python', 'published_year': 2008}
2019-12-19 17:55:58,128 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,129 INFO sqlalchemy.engine.base.Engine {'parent_id': 80, 'subject': ['Accessible book', 'Python (Computer program language)', 'Protected DAISY']}
2019-12-19 17:55:58,131 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,137 INFO sqlalchemy.engine.base.Engine {'parent_id': 80, 'subject': ['Accessible book', 'Python (Computer program language)', 'Protected DAISY']}
2019-12-19 17:55:58,139 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,140 INFO sqlalchemy.engine.base.Engine {'parent_id': 80, 'subject': ['Accessible book', 'Python (Computer program language)', 'Protected DAISY']}
2019-12-19 17:55:58,142 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,159 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,160 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,160 INFO sqlalchemy.engine.base.Engine {'id': 81, 'key': '/works/OL83069W', 'title': "A snake's body", 'published_year': 1981}
2019-12-19 17:55:58,164 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,165 INFO sqlalchemy.engine.base.Engine {'parent_id': 81, 'subject': ['In library', 'Snakes', 'Accessible book', 'Protected DAISY', 'Indian python', 'Juvenile literature', 'Pythons']}
2019-12-19 17:55:58,174 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,177 INFO sqlalchemy.engine.base.Engine {'parent_id': 81, 'subject': ['In library', 'Snakes', 'Accessible book', 'Protected DAISY', 'Indian python', 'Juvenile literature', 'Pythons']}
2019-12-19 17:55:58,182 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,182 INFO sqlalchemy.engine.base.Engine {'parent_id': 81, 'subject': ['In library', 'Snakes', 'Accessible book', 'Protected DAISY', 'Indian python', 'Juvenile literature', 'Pythons']}
2019-12-19 17:55:58,186 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,190 INFO sqlalchemy.engine.base.Engine {'parent_id': 81, 'subject': ['In library', 'Snakes', 'Accessible book', 'Protected DAISY', 'Indian python', 'Juvenile literature', 'Pythons']}
2019-12-19 17:55:58,201 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,204 INFO sqlalchemy.engine.base.Engine {'parent_id': 81, 'subject': ['In library', 'Snakes', 'Accessible book', 'Protected DAISY', 'Indian python', 'Juvenile literature', 'Pythons']}
2019-12-19 17:55:58,207 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,207 INFO sqlalchemy.engine.base.Engine {'parent_id': 81, 'subject': ['In library', 'Snakes', 'Accessible book', 'Protected DAISY', 'Indian python', 'Juvenile literature', 'Pythons']}
2019-12-19 17:55:58,209 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,210 INFO sqlalchemy.engine.base.Engine {'parent_id': 81, 'subject': ['In library', 'Snakes', 'Accessible book', 'Protected DAISY', 'Indian python', 'Juvenile literature', 'Pythons']}
2019-12-19 17:55:58,214 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,229 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,238 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,239 INFO sqlalchemy.engine.base.Engine {'id': 82, 'key': '/works/OL2037806W', 'title': 'Life of Python', 'published_year': 1983}
2019-12-19 17:55:58,244 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,245 INFO sqlalchemy.engine.base.Engine {'parent_id': 82, 'subject': ['Python (Monty) Pictures', 'In library', 'Accessible book', 'Monty Python (Comedy troupe)', "Monty Python's Flying Circus (Television program)", 'Comedians', 'Protected DAISY', 'Biography']}
2019-12-19 17:55:58,248 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,250 INFO sqlalchemy.engine.base.Engine {'parent_id': 82, 'subject': ['Python (Monty) Pictures', 'In library', 'Accessible book', 'Monty Python (Comedy troupe)', "Monty Python's Flying Circus (Television program)", 'Comedians', 'Protected DAISY', 'Biography']}
2019-12-19 17:55:58,253 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,256 INFO sqlalchemy.engine.base.Engine {'parent_id': 82, 'subject': ['Python (Monty) Pictures', 'In library', 'Accessible book', 'Monty Python (Comedy troupe)', "Monty Python's Flying Circus (Television program)", 'Comedians', 'Protected DAISY', 'Biography']}
2019-12-19 17:55:58,264 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,266 INFO sqlalchemy.engine.base.Engine {'parent_id': 82, 'subject': ['Python (Monty) Pictures', 'In library', 'Accessible book', 'Monty Python (Comedy troupe)', "Monty Python's Flying Circus (Television program)", 'Comedians', 'Protected DAISY', 'Biography']}
2019-12-19 17:55:58,270 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,276 INFO sqlalchemy.engine.base.Engine {'parent_id': 82, 'subject': ['Python (Monty) Pictures', 'In library', 'Accessible book', 'Monty Python (Comedy troupe)', "Monty Python's Flying Circus (Television program)", 'Comedians', 'Protected DAISY', 'Biography']}
2019-12-19 17:55:58,279 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,280 INFO sqlalchemy.engine.base.Engine {'parent_id': 82, 'subject': ['Python (Monty) Pictures', 'In library', 'Accessible book', 'Monty Python (Comedy troupe)', "Monty Python's Flying Circus (Television program)", 'Comedians', 'Protected DAISY', 'Biography']}

2019-12-19 17:55:58,282 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,283 INFO sqlalchemy.engine.base.Engine {'parent_id': 82, 'subject': ['Python (Monty) Pictures', 'In library', 'Accessible book', 'Monty Python (Comedy troupe)', "Monty Python's Flying Circus (Television program)", 'Comedians', 'Protected DAISY', 'Biography']}
2019-12-19 17:55:58,286 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,287 INFO sqlalchemy.engine.base.Engine {'parent_id': 82, 'subject': ['Python (Monty) Pictures', 'In library', 'Accessible book', 'Monty Python (Comedy troupe)', "Monty Python's Flying Circus (Television program)", 'Comedians', 'Protected DAISY', 'Biography']}
2019-12-19 17:55:58,290 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,303 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,306 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,307 INFO sqlalchemy.engine.base.Engine {'id': 83, 'key': '/works/OL384660W', 'title': 'Snake trouble', 'published_year': 1991}
2019-12-19 17:55:58,311 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,312 INFO sqlalchemy.engine.base.Engine {'parent_id': 83, 'subject': ['Pythons', 'Humorous stories', 'Snakes', 'Family life', 'Fiction']}
2019-12-19 17:55:58,315 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,316 INFO sqlalchemy.engine.base.Engine {'parent_id': 83, 'subject': ['Pythons', 'Humorous stories', 'Snakes', 'Family life', 'Fiction']}
2019-12-19 17:55:58,319 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,320 INFO sqlalchemy.engine.base.Engine {'parent_id': 83, 'subject': ['Pythons', 'Humorous stories', 'Snakes', 'Family life', 'Fiction']}
2019-12-19 17:55:58,322 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,324 INFO sqlalchemy.engine.base.Engine {'parent_id': 83, 'subject': ['Pythons', 'Humorous stories', 'Snakes', 'Family life', 'Fiction']}
2019-12-19 17:55:58,326 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,329 INFO sqlalchemy.engine.base.Engine {'parent_id': 83, 'subject': ['Pythons', 'Humorous stories', 'Snakes', 'Family life', 'Fiction']}
2019-12-19 17:55:58,332 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,347 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,348 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,349 INFO sqlalchemy.engine.base.Engine {'id': 84, 'key': '/works/OL6192738W', 'title': 'Étude embryologique de la formation des appendices postérieurs et de la ceinture pelvienne chez le python réticulé', 'published_year': 1972}
2019-12-19 17:55:58,355 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,358 INFO sqlalchemy.engine.base.Engine {'parent_id': 84, 'subject': ['Anatomy', 'Pelvic bones', 'Embryology', 'Reticulated python']}
2019-12-19 17:55:58,360 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,361 INFO sqlalchemy.engine.base.Engine {'parent_id': 84, 'subject': ['Anatomy', 'Pelvic bones', 'Embryology', 'Reticulated python']}
2019-12-19 17:55:58,363 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,364 INFO sqlalchemy.engine.base.Engine {'parent_id': 84, 'subject': ['Anatomy', 'Pelvic bones', 'Embryology', 'Reticulated python']}
2019-12-19 17:55:58,366 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,366 INFO sqlalchemy.engine.base.Engine {'parent_id': 84, 'subject': ['Anatomy', 'Pelvic bones', 'Embryology', 'Reticulated python']}
2019-12-19 17:55:58,370 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,380 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,381 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,382 INFO sqlalchemy.engine.base.Engine {'id': 85, 'key': '/works/OL16506156W', 'title': 'The practice of computing using Python', 'published_year': 2012}
2019-12-19 17:55:58,386 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,386 INFO sqlalchemy.engine.base.Engine {'parent_id': 85, 'subject': ['Computer programming', 'Python (Computer program language)']}
2019-12-19 17:55:58,391 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,392 INFO sqlalchemy.engine.base.Engine {'parent_id': 85, 'subject': ['Computer programming', 'Python (Computer program language)']}
2019-12-19 17:55:58,395 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,406 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,408 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,410 INFO sqlalchemy.engine.base.Engine {'id': 86, 'key': '/works/OL1878727W', 'title': 'Constricting snakes', 'published_year': 2002}
2019-12-19 17:55:58,413 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,413 INFO sqlalchemy.engine.base.Engine {'parent_id': 86, 'subject': ['Boidae', 'Juvenile literature', 'Boa constrictor', 'Pythons', 'Snakes']}
2019-12-19 17:55:58,415 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,416 INFO sqlalchemy.engine.base.Engine {'parent_id': 86, 'subject': ['Boidae', 'Juvenile literature', 'Boa constrictor', 'Pythons', 'Snakes']}
2019-12-19 17:55:58,419 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,424 INFO sqlalchemy.engine.base.Engine {'parent_id': 86, 'subject': ['Boidae', 'Juvenile literature', 'Boa constrictor', 'Pythons', 'Snakes']}
2019-12-19 17:55:58,426 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,427 INFO sqlalchemy.engine.base.Engine {'parent_id': 86, 'subject': ['Boidae', 'Juvenile literature', 'Boa constrictor', 'Pythons', 'Snakes']}
2019-12-19 17:55:58,429 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,430 INFO sqlalchemy.engine.base.Engine {'parent_id': 86, 'subject': ['Boidae', 'Juvenile literature', 'Boa constrictor', 'Pythons', 'Snakes']}
2019-12-19 17:55:58,437 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,446 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,447 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)

2019-12-19 17:55:58,448 INFO sqlalchemy.engine.base.Engine {'id': 87, 'key': '/works/OL15470915W', 'title': 'The practice of computing using Python', 'published_year': 2011}
2019-12-19 17:55:58,453 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,456 INFO sqlalchemy.engine.base.Engine {'parent_id': 87, 'subject': ['Computer programming', 'Python (Computer program language)']}
2019-12-19 17:55:58,459 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,459 INFO sqlalchemy.engine.base.Engine {'parent_id': 87, 'subject': ['Computer programming', 'Python (Computer program language)']}
2019-12-19 17:55:58,462 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,471 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,472 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,473 INFO sqlalchemy.engine.base.Engine {'id': 88, 'key': '/works/OL16444951W', 'title': 'Python programming on Win32', 'published_year': 2000}
2019-12-19 17:55:58,475 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,476 INFO sqlalchemy.engine.base.Engine {'parent_id': 88, 'subject': ['Python (Computer program language)', 'Microsoft Win32']}
2019-12-19 17:55:58,479 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,480 INFO sqlalchemy.engine.base.Engine {'parent_id': 88, 'subject': ['Python (Computer program language)', 'Microsoft Win32']}
2019-12-19 17:55:58,482 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,491 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,492 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,493 INFO sqlalchemy.engine.base.Engine {'id': 89, 'key': '/works/OL1809700W', 'title': "The snake's mistake", 'published_year': 1988}
2019-12-19 17:55:58,496 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,497 INFO sqlalchemy.engine.base.Engine {'parent_id': 89, 'subject': ['Stories in rhyme', 'Snakes', 'Pythons', 'Fiction']}
2019-12-19 17:55:58,499 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,499 INFO sqlalchemy.engine.base.Engine {'parent_id': 89, 'subject': ['Stories in rhyme', 'Snakes', 'Pythons', 'Fiction']}
2019-12-19 17:55:58,502 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,504 INFO sqlalchemy.engine.base.Engine {'parent_id': 89, 'subject': ['Stories in rhyme', 'Snakes', 'Pythons', 'Fiction']}
2019-12-19 17:55:58,509 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,513 INFO sqlalchemy.engine.base.Engine {'parent_id': 89, 'subject': ['Stories in rhyme', 'Snakes', 'Pythons', 'Fiction']}
2019-12-19 17:55:58,515 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,524 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,525 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,526 INFO sqlalchemy.engine.base.Engine {'id': 90, 'key': '/works/OL2996185W', 'title': "Monty Python's complete waste of time", 'published_year': 1995}
2019-12-19 17:55:58,528 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,529 INFO sqlalchemy.engine.base.Engine {'parent_id': 90, 'subject': ["Monty Python's complete waste of time"]}
2019-12-19 17:55:58,531 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,547 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,548 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,554 INFO sqlalchemy.engine.base.Engine {'id': 91, 'key': '/works/OL4171130W', 'title': 'The reproductive husbandry of pythons and boas', 'published_year': 1990}
2019-12-19 17:55:58,558 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,559 INFO sqlalchemy.engine.base.Engine {'parent_id': 91, 'subject': ['Reproduction', 'Breeding', 'Snake culture', 'Pythons', 'Boidae']}
2019-12-19 17:55:58,562 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,563 INFO sqlalchemy.engine.base.Engine {'parent_id': 91, 'subject': ['Reproduction', 'Breeding', 'Snake culture', 'Pythons', 'Boidae']}
2019-12-19 17:55:58,564 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,568 INFO sqlalchemy.engine.base.Engine {'parent_id': 91, 'subject': ['Reproduction', 'Breeding', 'Snake culture', 'Pythons', 'Boidae']}
2019-12-19 17:55:58,573 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,574 INFO sqlalchemy.engine.base.Engine {'parent_id': 91, 'subject': ['Reproduction', 'Breeding', 'Snake culture', 'Pythons', 'Boidae']}
2019-12-19 17:55:58,585 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,586 INFO sqlalchemy.engine.base.Engine {'parent_id': 91, 'subject': ['Reproduction', 'Breeding', 'Snake culture', 'Pythons', 'Boidae']}
2019-12-19 17:55:58,590 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,611 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,612 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,613 INFO sqlalchemy.engine.base.Engine {'id': 92, 'key': '/works/OL8021925W', 'title': 'Python programming on Win32', 'published_year': 2000}
2019-12-19 17:55:58,616 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,616 INFO sqlalchemy.engine.base.Engine {'parent_id': 92, 'subject': ['Python (Computer program language)', 'Microsoft Win32']}
2019-12-19 17:55:58,624 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,624 INFO sqlalchemy.engine.base.Engine {'parent_id': 92, 'subject': ['Python (Computer program language)', 'Microsoft Win32']}
2019-12-19 17:55:58,626 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,640 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,642 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,645 INFO sqlalchemy.engine.base.Engine {'id': 93, 'key': '/works/OL16362374W', 'title': 'Bashful ball pythons', 'published_year': 2013}
2019-12-19 17:55:58,648 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,650 INFO sqlalchemy.engine.base.Engine {'parent_id': 93, 'subject': ['Ball pythons as pets', 'Juvenile literature']}

2019-12-19 17:55:58,654 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,655 INFO sqlalchemy.engine.base.Engine {'parent_id': 93, 'subject': ['Ball pythons as pets', 'Juvenile literature']}
2019-12-19 17:55:58,659 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,670 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,676 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,677 INFO sqlalchemy.engine.base.Engine {'id': 94, 'key': '/works/OL16486498W', 'title': 'Introduction to computing & programming in Python', 'published_year': 2013}
2019-12-19 17:55:58,680 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,683 INFO sqlalchemy.engine.base.Engine {'parent_id': 94, 'subject': ['Multimedia systems', 'Python (Computer program language)']}
2019-12-19 17:55:58,688 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,690 INFO sqlalchemy.engine.base.Engine {'parent_id': 94, 'subject': ['Multimedia systems', 'Python (Computer program language)']}
2019-12-19 17:55:58,694 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,713 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,715 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,717 INFO sqlalchemy.engine.base.Engine {'id': 95, 'key': '/works/OL16126223W', 'title': 'Maya Python for games and film', 'published_year': 2012}
2019-12-19 17:55:58,721 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,725 INFO sqlalchemy.engine.base.Engine {'parent_id': 95, 'subject': ['Python (Computer program language)', 'Programming', 'Computer games']}
2019-12-19 17:55:58,727 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,728 INFO sqlalchemy.engine.base.Engine {'parent_id': 95, 'subject': ['Python (Computer program language)', 'Programming', 'Computer games']}
2019-12-19 17:55:58,729 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,731 INFO sqlalchemy.engine.base.Engine {'parent_id': 95, 'subject': ['Python (Computer program language)', 'Programming', 'Computer games']}
2019-12-19 17:55:58,735 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,761 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,762 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,763 INFO sqlalchemy.engine.base.Engine {'id': 96, 'key': '/works/OL16237912W', 'title': 'Pythons', 'published_year': 2012}
2019-12-19 17:55:58,765 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,766 INFO sqlalchemy.engine.base.Engine {'parent_id': 96, 'subject': ['Juvenile literature', 'Pythons', 'Internet Archive Wishlist']}
2019-12-19 17:55:58,774 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,775 INFO sqlalchemy.engine.base.Engine {'parent_id': 96, 'subject': ['Juvenile literature', 'Pythons', 'Internet Archive Wishlist']}
2019-12-19 17:55:58,777 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,782 INFO sqlalchemy.engine.base.Engine {'parent_id': 96, 'subject': ['Juvenile literature', 'Pythons', 'Internet Archive Wishlist']}
2019-12-19 17:55:58,788 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,807 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,811 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,811 INFO sqlalchemy.engine.base.Engine {'id': 97, 'key': '/works/OL9565846W', 'title': 'Ball pythons', 'published_year': 2009}
2019-12-19 17:55:58,814 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,815 INFO sqlalchemy.engine.base.Engine {'parent_id': 97, 'subject': ['Ball pythons as pets', 'Internet Archive Wishlist']}
2019-12-19 17:55:58,817 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,822 INFO sqlalchemy.engine.base.Engine {'parent_id': 97, 'subject': ['Ball pythons as pets', 'Internet Archive Wishlist']}
2019-12-19 17:55:58,825 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,837 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,840 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,845 INFO sqlalchemy.engine.base.Engine {'id': 98, 'key': '/works/OL15909399W', 'title': 'Pythons', 'published_year': 2011}
2019-12-19 17:55:58,847 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,848 INFO sqlalchemy.engine.base.Engine {'parent_id': 98, 'subject': ['Juvenile literature', 'Pythons', 'Internet Archive Wishlist']}
2019-12-19 17:55:58,850 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,853 INFO sqlalchemy.engine.base.Engine {'parent_id': 98, 'subject': ['Juvenile literature', 'Pythons', 'Internet Archive Wishlist']}
2019-12-19 17:55:58,861 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,863 INFO sqlalchemy.engine.base.Engine {'parent_id': 98, 'subject': ['Juvenile literature', 'Pythons', 'Internet Archive Wishlist']}
2019-12-19 17:55:58,866 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-19 17:55:58,879 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-19 17:55:58,882 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-19 17:55:58,883 INFO sqlalchemy.engine.base.Engine {'id': 99, 'key': '/works/OL18657847W', 'title': 'The practice of computing using Python', 'published_year': 2010}
2019-12-19 17:55:58,890 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,893 INFO sqlalchemy.engine.base.Engine {'parent_id': 99, 'subject': ['Computer programming', 'Python (Computer program language)']}
2019-12-19 17:55:58,896 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-19 17:55:58,899 INFO sqlalchemy.engine.base.Engine {'parent_id': 99, 'subject': ['Computer programming', 'Python (Computer program language)']}
2019-12-19 17:55:58,904 INFO sqlalchemy.engine.base.Engine COMMIT