# Uma versão do exercício 3 usando o ORM Sqlalchemy.

* ### Usando como guia:
    `https://auth0.com/blog/sqlalchemy-orm-tutorial-for-python-developers/`

In [2]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading https://files.pythonhosted.org/packages/34/5c/0e1d7ad0ca52544bb12f9cb8d5cc454af45821c92160ffedd38db0a317f6/SQLAlchemy-1.3.11.tar.gz (6.0MB)
    100% |████████████████████████████████| 6.0MB 183kB/s ta 0:00:01    35% |███████████▍                    | 2.1MB 1.4MB/s eta 0:00:03
Installing collected packages: SQLAlchemy
  Running setup.py install for SQLAlchemy ... done
Successfully installed SQLAlchemy-1.3.11
You are using pip version 9.0.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [13]:
from sqlalchemy import create_engine, Column, String, Integer, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

Base = declarative_base()
class User(Base):
    __tablename__="Pessoas"
    id = Column('id', Integer, primary_key=True)
    username = Column('username', String, unique=True)

    
engine = create_engine('postgresql://vsantos93:swordfish@localhost:5432/teste', echo=True)

Base.metadata.create_all(bind=engine)

Session = sessionmaker(bind=engine)

session = Session()
user = User()
user.id = 0
user.username = 'suelen'
session.add(user)
session.commit()
#geting users
users = session.query(User).all()
for user in users:
    print("O nome de usuário é:" + user.username)
session.close()

2019-12-11 18:39:45,313 INFO sqlalchemy.engine.base.Engine select version()
2019-12-11 18:39:45,319 INFO sqlalchemy.engine.base.Engine {}
2019-12-11 18:39:45,323 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-12-11 18:39:45,325 INFO sqlalchemy.engine.base.Engine {}
2019-12-11 18:39:45,328 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-12-11 18:39:45,330 INFO sqlalchemy.engine.base.Engine {}
2019-12-11 18:39:45,333 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-12-11 18:39:45,336 INFO sqlalchemy.engine.base.Engine {}
2019-12-11 18:39:45,338 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-12-11 18:39:45,340 INFO sqlalchemy.engine.base.Engine {}
2019-12-11 18:39:45,344 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-12-11 18:39:45,346 INFO sqlalchemy.engine.base.Engine {'name': 'Pessoas'}
2019-12-11 18:39:45,354 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-11 18:39:45,358 INFO sqlalchemy.engine.base.Engine INSERT INTO "Pessoas" (id, username) VALUES (%(id)s, %(username)s)
2019-12-11 18:39:45,360 INFO sqlalchemy.engine.base.Engine {'id': 0, 'username': 'suelen'}
2019-12-11 18:39:45,364 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-11 18:39:45,425 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-11 18:39:45,427 INFO sqlalchemy.engine.base.Engine SELECT "Pessoas".id AS "Pessoas_id", "Pessoas".username AS "Pessoas_username"
FROM "Pessoas"
2019-12-11 18:39:45,428 INFO sqlalchemy.engine.base.Engine {}
O nome de usuário é:suelen
2019-12-11 18:39:45,433 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [1]:
from sqlalchemy import create_engine, Column, String, Integer, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

Base = declarative_base()
class Books(Base):
    __tablename__="Books"
    id = Column('id', Integer, primary_key=True)
    key = Column('key', String)
    title = Column('title', String(150))
    published_year = Column('published_year', Integer)

    def __init__(self, id, key, title, published_year):
            self.id = id
            self.key = key
            self.title = title
            self.published_year = published_year
    
engine = create_engine('postgresql://vsantos93:swordfish@localhost:5432/teste', echo=True)
Base.metadata.create_all(bind=engine)
Session = sessionmaker(bind=engine)
session = Session()
session.commit()
session.close()

2019-12-12 16:01:08,172 INFO sqlalchemy.engine.base.Engine select version()
2019-12-12 16:01:08,173 INFO sqlalchemy.engine.base.Engine {}
2019-12-12 16:01:08,177 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-12-12 16:01:08,178 INFO sqlalchemy.engine.base.Engine {}
2019-12-12 16:01:08,182 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-12-12 16:01:08,184 INFO sqlalchemy.engine.base.Engine {}
2019-12-12 16:01:08,186 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-12-12 16:01:08,188 INFO sqlalchemy.engine.base.Engine {}
2019-12-12 16:01:08,189 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-12-12 16:01:08,200 INFO sqlalchemy.engine.base.Engine {}
2019-12-12 16:01:08,206 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-12-12 16:01:08,208 INFO sqlalchemy.engine.base.Engine {'name': 'Books'}
2019-12-12 16:01:08,211 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Books" (
	id SERIAL NOT NULL,
	key VARCHAR,
	title VARCHAR(150),
	published_year INTEGER,
	PRIMARY KEY (id)
)


2019-12-12 16:01:08,212 INFO sqlalchemy.engine.base.Engine {}
2019-12-12 16:01:08,282 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
#Adding books

newBook = Books(id = 5, key = "/works/OL12266083W", title = "Pythons and their ways", published_year = 1930)
session.add(newBook)
#session.flush()
session.commit()
session.close()

2019-12-12 16:04:39,067 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-12 16:04:39,073 INFO sqlalchemy.engine.base.Engine INSERT INTO "Books" (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-12 16:04:39,075 INFO sqlalchemy.engine.base.Engine {'id': 5, 'key': '/works/OL12266083W', 'title': 'Pythons and their ways', 'published_year': 1930}
2019-12-12 16:04:39,078 INFO sqlalchemy.engine.base.Engine COMMIT

In [1]:
#creating the subjects table
from sqlalchemy import create_engine, Column, String, Integer, Table, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

Base = declarative_base()

class Books(Base):
    __tablename__ = "books"
    id = Column('id', Integer, primary_key=True)
    key = Column('key', String)
    title = Column('title', String(150))
    published_year = Column('published_year', Integer)
    subjects = relationship("Subject", backref="books")

            
class Subject(Base):        
    __tablename__ = "subjects"
    id = Column('id', Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('books.id'))
    subject = Column('subject', String)
    parent = relationship("Books", back_populates="subjects")
    
    
engine = create_engine('postgresql://vsantos93:swordfish@localhost:5432/teste', echo=True)
Base.metadata.create_all(bind=engine)
Session = sessionmaker(bind=engine)
session = Session()
session.commit()
session.close()

2019-12-13 19:27:03,342 INFO sqlalchemy.engine.base.Engine select version()
2019-12-13 19:27:03,343 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 19:27:03,346 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-12-13 19:27:03,347 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 19:27:03,349 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-12-13 19:27:03,350 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 19:27:03,352 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-12-13 19:27:03,353 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 19:27:03,354 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-12-13 19:27:03,355 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 19:27:03,358 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-12-13 19:27:03,359 INFO sqlalchemy.engine.base.Engine {'name': 'books'}
2019-12-13 19:27:03,362 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-12-13 19:27:03,370 INFO sqlalchemy.engine.base.Engine {'name': 'subjects'}
2019-12-13 19:27:03,380 INFO sqlalchemy.engine.base.Engine
CREATE TABLE books (
	id SERIAL NOT NULL,
	key VARCHAR,
	title VARCHAR(150),
	published_year INTEGER,
	PRIMARY KEY (id)
)


2019-12-13 19:27:03,381 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 19:27:03,597 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-13 19:27:03,610 INFO sqlalchemy.engine.base.Engine
CREATE TABLE subjects (
	id SERIAL NOT NULL,
	parent_id INTEGER,
	subject VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(parent_id) REFERENCES books (id)
)


2019-12-13 19:27:03,612 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 19:27:03,687 INFO sqlalchemy.engine.base.Engine COMMIT

Pra fazer a relação many to many entre os livros
https://www.youtube.com/watch?v=OvhoYbjtiKc

Relação foreignkey 
https://docs.sqlalchemy.org/en/13/orm/basic_relationships.html

In [6]:
#inserting data
bookAdd = Books(id = 5, key = "/works/OL12266083W", title = "Pythons and their ways", published_year = 1930)
bookSubject = Subject(subject = "Python is the best")
bookAdd.subjects = [bookSubject]

In [13]:
session.add(bookAdd)
session.commit()

2019-12-13 19:33:40,455 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-13 19:33:40,458 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-13 19:33:40,459 INFO sqlalchemy.engine.base.Engine {'id': 5, 'key': '/works/OL12266083W', 'title': 'Pythons and their ways', 'published_year': 1930}
2019-12-13 19:33:40,464 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 19:33:40,470 INFO sqlalchemy.engine.base.Engine {'parent_id': 5, 'subject': 'Python is the best'}
2019-12-13 19:33:40,476 INFO sqlalchemy.engine.base.Engine COMMIT