# Inserting a values to postgres data base

In [11]:
from sqlalchemy import create_engine, Column, String, Integer, Table, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

Base = declarative_base()

class Books(Base):
    def __init__(self, id, key, title, published_year):
        self.id = id
        self.key = key
        self.title = title
        self.published_year = published_year
    __tablename__="books"
    id = Column('id', Integer, primary_key=True)
    key = Column('key', String)
    title = Column('title', String(150))
    published_year = Column('published_year', Integer)
    subjects = Column('subjects', String)
    
engine = create_engine('postgresql://vsantos93:swordfish@localhost:5432/teste', echo=True)
Base.metadata.create_all(bind=engine)
Session = sessionmaker(bind=engine)
session = Session()
session.commit()
session.close()
#table was created

2019-12-13 18:36:27,282 INFO sqlalchemy.engine.base.Engine select version()
2019-12-13 18:36:27,284 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 18:36:27,288 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-12-13 18:36:27,291 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 18:36:27,294 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-12-13 18:36:27,296 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 18:36:27,303 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-12-13 18:36:27,305 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 18:36:27,310 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-12-13 18:36:27,313 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 18:36:27,317 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-12-13 18:36:27,320 INFO sqlalchemy.engine.base.Engine {'name': 'books'}
2019-12-13 18:36:27,325 INFO sqlalchemy.engine.base.Engine
CREATE TABLE books (
	id SERIAL NOT NULL,
	key VARCHAR,
	title VARCHAR(150),
	published_year INTEGER,
	subjects VARCHAR,
	PRIMARY KEY (id)
)


2019-12-13 18:36:27,329 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 18:36:27,497 INFO sqlalchemy.engine.base.Engine COMMIT

In [3]:
#To insert
newBook = Books(id = 5, key = "/works/OL12266083W", title = "Pythons and their ways", published_year = 1930)
session.add(newBook)
#session.flush()
session.commit()
session.close()

2019-12-13 18:08:02,267 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-13 18:08:02,270 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year, subjects) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s, %(subjects)s)
2019-12-13 18:08:02,270 INFO sqlalchemy.engine.base.Engine {'id': 5, 'key': '/works/OL12266083W', 'title': 'Pythons and their ways', 'published_year': 1930, 'subjects': None}
2019-12-13 18:08:02,273 INFO sqlalchemy.engine.base.Engine COMMIT

In [3]:
#handling the file
import json
with open('livros_python.json') as arquivo:
    books = json.load(arquivo)
print(type(books))
print(type(books[0]))
print(books[1])
"""I have a dictionary list"""

<class 'list'>
<class 'dict'>
{'title_suggest': 'Pythons of Australia', 'edition_key': ['OL707632M'], 'isbn': ['0965744612', '9780965744614'], 'has_fulltext': False, 'text': ['OL707632M', '0965744612', '9780965744614', 'Brian A. Kend', 'Schuett, Laura White.', 'Schuett, Gordon W.', 'OL406588A', 'Pythons of Australia', 'Brian A. Kend ; edited by Gordon W. Schuett and Laura White Schuett.', 'Pythons', '/works/OL2765069W', 'Canyonlands Pub. Group', '97069689', 'Australia'], 'author_name': ['Brian A. Kend'], 'seed': ['/books/OL707632M', '/works/OL2765069W', '/subjects/pythons', '/subjects/place:australia', '/authors/OL406588A'], 'contributor': ['Schuett, Laura White.', 'Schuett, Gordon W.'], 'author_key': ['OL406588A'], 'subject': ['Pythons'], 'title': 'Pythons of Australia', 'publish_date': ['1997'], 'type': 'work', 'ebook_count_i': 0, 'publish_place': ['Provo, Utah'], 'edition_count': 1, 'key': '/works/OL2765069W', 'id_goodreads': ['3813466'], 'publisher': ['Canyonlands Pub. Group'], 'language': ['eng'], 'lccn': ['97069689'], 'last_modified_i': 1280521914, 'id_librarything': ['1301740'], 'publish_year': [1997], 'first_publish_year': 1997, 'place': ['Australia']}

'I have a dictionary list'

In [12]:
#It works
for id, each_book in enumerate(books):
    key = each_book['key']
    title = each_book['title']
    published_year = (each_book['publish_year'][0])
    newBook = Books(id = id, key = key, title = title, published_year = published_year)
    session.add(newBook)
session.commit()
session.close()

2019-12-13 18:36:47,384 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-13 18:36:47,390 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year, subjects) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s, %(subjects)s)
2019-12-13 18:36:47,392 INFO sqlalchemy.engine.base.Engine ({'id': 0, 'key': '/works/OL12266083W', 'title': 'Pythons and their ways', 'published_year': 1930, 'subjects': None}, {'id': 1, 'key': '/works/OL2765069W', 'title': 'Pythons of Australia', 'published_year': 1997, 'subjects': None}, {'id': 2, 'key': '/works/OL7551864W', 'title': 'Pythons and their ways', 'published_year': 1930, 'subjects': None}, {'id': 3, 'key': '/works/OL19543337W', 'title': 'Python Programming: An Introduction to Computer Science, 3rd Ed.', 'published_year': 2016, 'subjects': None}, {'id': 4, 'key': '/works/OL2913736W', 'title': 'Pythons', 'published_year': 1996, 'subjects': None}, {'id': 5, 'key': '/works/OL2723583W', 'title': 'Pythons', 'published_year': 2009, 'subjects': None}, {'id': 6, 'key': '/works/OL2684899W', 'title': 'The first 20 years of Monty Python', 'published_year': 1989, 'subjects': None}, {'id': 7, 'key': '/works/OL2367908W', 'title': 'Python annotated archives', 'published_year': 1999, 'subjects': None}  ... displaying 10 of 100 total bound parameter sets ...  {'id': 98, 'key': '/works/OL15909399W', 'title': 'Pythons', 'published_year': 2011, 'subjects': None}, {'id': 99, 'key': '/works/OL18657847W', 'title': 'The practice of computing using Python', 'published_year': 2010, 'subjects': None})
2019-12-13 18:36:47,429 INFO sqlalchemy.engine.base.Engine COMMIT