# Uma versão do exercício 3 usando o ORM Sqlalchemy.

* ### Usando como guia:
    `https://auth0.com/blog/sqlalchemy-orm-tutorial-for-python-developers/`

In [2]:
# Install a pip package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading https://files.pythonhosted.org/packages/34/5c/0e1d7ad0ca52544bb12f9cb8d5cc454af45821c92160ffedd38db0a317f6/SQLAlchemy-1.3.11.tar.gz (6.0MB)
    100% |████████████████████████████████| 6.0MB 183kB/s ta 0:00:01    35% |███████████▍                    | 2.1MB 1.4MB/s eta 0:00:03
Installing collected packages: SQLAlchemy
  Running setup.py install for SQLAlchemy ... done
Successfully installed SQLAlchemy-1.3.11
You are using pip version 9.0.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [13]:
from sqlalchemy import create_engine, Column, String, Integer, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

Base = declarative_base()
class User(Base):
    __tablename__="Pessoas"
    id = Column('id', Integer, primary_key=True)
    username = Column('username', String, unique=True)

    
engine = create_engine('postgresql://vsantos93:swordfish@localhost:5432/teste', echo=True)

Base.metadata.create_all(bind=engine)

Session = sessionmaker(bind=engine)

session = Session()
user = User()
user.id = 0
user.username = 'suelen'
session.add(user)
session.commit()
#geting users
users = session.query(User).all()
for user in users:
    print("O nome de usuário é:" + user.username)
session.close()

2019-12-11 18:39:45,313 INFO sqlalchemy.engine.base.Engine select version()
2019-12-11 18:39:45,319 INFO sqlalchemy.engine.base.Engine {}
2019-12-11 18:39:45,323 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-12-11 18:39:45,325 INFO sqlalchemy.engine.base.Engine {}
2019-12-11 18:39:45,328 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-12-11 18:39:45,330 INFO sqlalchemy.engine.base.Engine {}
2019-12-11 18:39:45,333 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-12-11 18:39:45,336 INFO sqlalchemy.engine.base.Engine {}
2019-12-11 18:39:45,338 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-12-11 18:39:45,340 INFO sqlalchemy.engine.base.Engine {}
2019-12-11 18:39:45,344 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-12-11 18:39:45,346 INFO sqlalchemy.engine.base.Engine {'name': 'Pessoas'}
2019-12-11 18:39:45,354 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-11 18:39:45,358 INFO sqlalchemy.engine.base.Engine INSERT INTO "Pessoas" (id, username) VALUES (%(id)s, %(username)s)
2019-12-11 18:39:45,360 INFO sqlalchemy.engine.base.Engine {'id': 0, 'username': 'suelen'}
2019-12-11 18:39:45,364 INFO sqlalchemy.engine.base.Engine COMMIT
2019-12-11 18:39:45,425 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-11 18:39:45,427 INFO sqlalchemy.engine.base.Engine SELECT "Pessoas".id AS "Pessoas_id", "Pessoas".username AS "Pessoas_username"
FROM "Pessoas"
2019-12-11 18:39:45,428 INFO sqlalchemy.engine.base.Engine {}
O nome de usuário é:suelen
2019-12-11 18:39:45,433 INFO sqlalchemy.engine.base.Engine ROLLBACK

In [1]:
from sqlalchemy import create_engine, Column, String, Integer, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

Base = declarative_base()
class Books(Base):
    __tablename__="Books"
    id = Column('id', Integer, primary_key=True)
    key = Column('key', String)
    title = Column('title', String(150))
    published_year = Column('published_year', Integer)

    def __init__(self, id, key, title, published_year):
            self.id = id
            self.key = key
            self.title = title
            self.published_year = published_year
    
engine = create_engine('postgresql://vsantos93:swordfish@localhost:5432/teste', echo=True)
Base.metadata.create_all(bind=engine)
Session = sessionmaker(bind=engine)
session = Session()
session.commit()
session.close()

2019-12-12 16:01:08,172 INFO sqlalchemy.engine.base.Engine select version()
2019-12-12 16:01:08,173 INFO sqlalchemy.engine.base.Engine {}
2019-12-12 16:01:08,177 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-12-12 16:01:08,178 INFO sqlalchemy.engine.base.Engine {}
2019-12-12 16:01:08,182 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-12-12 16:01:08,184 INFO sqlalchemy.engine.base.Engine {}
2019-12-12 16:01:08,186 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-12-12 16:01:08,188 INFO sqlalchemy.engine.base.Engine {}
2019-12-12 16:01:08,189 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-12-12 16:01:08,200 INFO sqlalchemy.engine.base.Engine {}
2019-12-12 16:01:08,206 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-12-12 16:01:08,208 INFO sqlalchemy.engine.base.Engine {'name': 'Books'}
2019-12-12 16:01:08,211 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Books" (
	id SERIAL NOT NULL,
	key VARCHAR,
	title VARCHAR(150),
	published_year INTEGER,
	PRIMARY KEY (id)
)


2019-12-12 16:01:08,212 INFO sqlalchemy.engine.base.Engine {}
2019-12-12 16:01:08,282 INFO sqlalchemy.engine.base.Engine COMMIT

In [5]:
#Adding books

newBook = Books(id = 5, key = "/works/OL12266083W", title = "Pythons and their ways", published_year = 1930)
session.add(newBook)
#session.flush()
session.commit()
session.close()

2019-12-12 16:04:39,067 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-12 16:04:39,073 INFO sqlalchemy.engine.base.Engine INSERT INTO "Books" (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-12 16:04:39,075 INFO sqlalchemy.engine.base.Engine {'id': 5, 'key': '/works/OL12266083W', 'title': 'Pythons and their ways', 'published_year': 1930}
2019-12-12 16:04:39,078 INFO sqlalchemy.engine.base.Engine COMMIT

In [3]:
#creating the subjects table
from sqlalchemy import create_engine, Column, String, Integer, Table, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

Base = declarative_base()

class Books(Base):
    __tablename__ = "books"
    id = Column('id', Integer, primary_key=True)
    key = Column('key', String)
    title = Column('title', String(150))
    published_year = Column('published_year', Integer)
    subjects = relationship("Subject", backref="books")

            
class Subject(Base):        
    __tablename__ = "subjects"
    id = Column('id', Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('books.id'))
    subject = Column('subject', String)
    parent = relationship("Books", back_populates="subjects")
    
    
engine = create_engine('postgresql://vsantos93:swordfish@localhost:5432/teste', echo=True)
Base.metadata.create_all(bind=engine)
Session = sessionmaker(bind=engine)
session = Session()
session.commit()
session.close()

2019-12-13 20:55:11,574 INFO sqlalchemy.engine.base.Engine select version()
2019-12-13 20:55:11,575 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 20:55:11,579 INFO sqlalchemy.engine.base.Engine select current_schema()
2019-12-13 20:55:11,580 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 20:55:11,587 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-12-13 20:55:11,594 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 20:55:11,598 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-12-13 20:55:11,599 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 20:55:11,601 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2019-12-13 20:55:11,601 INFO sqlalchemy.engine.base.Engine {}
2019-12-13 20:55:11,604 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-12-13 20:55:11,608 INFO sqlalchemy.engine.base.Engine {'name': 'books'}
2019-12-13 20:55:11,611 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2019-12-13 20:55:11,612 INFO sqlalchemy.engine.base.Engine {'name': 'subjects'}

Pra fazer a relação many to many entre os livros
https://www.youtube.com/watch?v=OvhoYbjtiKc

Relação foreignkey 
https://docs.sqlalchemy.org/en/13/orm/basic_relationships.html

In [2]:
#inserting data 
bookAdd = Books(id = 42, key = "/ODSA266083W", title = "Python the hard way", published_year = 1930)
bookSubject = Subject(subject = "Python is the biggest")
bookAdd.subjects = [bookSubject]

In [3]:
session.add(bookAdd)
session.commit()

2019-12-13 20:16:40,965 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-13 20:16:40,975 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-13 20:16:40,977 INFO sqlalchemy.engine.base.Engine {'id': 42, 'key': '/ODSA266083W', 'title': 'Python the hard way', 'published_year': 1930}
2019-12-13 20:16:40,982 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 20:16:40,986 INFO sqlalchemy.engine.base.Engine {'parent_id': 42, 'subject': 'Python is the biggest'}
2019-12-13 20:16:40,992 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
#handling the file
import json
with open('livros_python.json') as arquivo:
    books = json.load(arquivo)
print(type(books))
print(type(books[0]))
print(books[1])
"""I have a dictionary list"""

<class 'list'>
<class 'dict'>
{'title_suggest': 'Pythons of Australia', 'edition_key': ['OL707632M'], 'isbn': ['0965744612', '9780965744614'], 'has_fulltext': False, 'text': ['OL707632M', '0965744612', '9780965744614', 'Brian A. Kend', 'Schuett, Laura White.', 'Schuett, Gordon W.', 'OL406588A', 'Pythons of Australia', 'Brian A. Kend ; edited by Gordon W. Schuett and Laura White Schuett.', 'Pythons', '/works/OL2765069W', 'Canyonlands Pub. Group', '97069689', 'Australia'], 'author_name': ['Brian A. Kend'], 'seed': ['/books/OL707632M', '/works/OL2765069W', '/subjects/pythons', '/subjects/place:australia', '/authors/OL406588A'], 'contributor': ['Schuett, Laura White.', 'Schuett, Gordon W.'], 'author_key': ['OL406588A'], 'subject': ['Pythons'], 'title': 'Pythons of Australia', 'publish_date': ['1997'], 'type': 'work', 'ebook_count_i': 0, 'publish_place': ['Provo, Utah'], 'edition_count': 1, 'key': '/works/OL2765069W', 'id_goodreads': ['3813466'], 'publisher': ['Canyonlands Pub. Group'], 'language': ['eng'], 'lccn': ['97069689'], 'last_modified_i': 1280521914, 'id_librarything': ['1301740'], 'publish_year': [1997], 'first_publish_year': 1997, 'place': ['Australia']}

'I have a dictionary list'

In [6]:
#Inserting data from the json file
for id, each_book in enumerate(books):
    key = each_book['key']
    title = each_book['title']
    published_year = (each_book['publish_year'][0])
    subject_list = list(each_book['subject'])
    bookSubject = Subject(subject = subject_list)
    newBook = Books(id = id, key = key, title = title, published_year = published_year)
    newBook.subjects = [bookSubject]
    session.add(newBook)
session.commit()
session.close()

2019-12-13 21:01:45,053 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-12-13 21:01:45,062 INFO sqlalchemy.engine.base.Engine INSERT INTO books (id, key, title, published_year) VALUES (%(id)s, %(key)s, %(title)s, %(published_year)s)
2019-12-13 21:01:45,063 INFO sqlalchemy.engine.base.Engine ({'id': 0, 'key': '/works/OL12266083W', 'title': 'Pythons and their ways', 'published_year': 1930}, {'id': 1, 'key': '/works/OL2765069W', 'title': 'Pythons of Australia', 'published_year': 1997}, {'id': 2, 'key': '/works/OL7551864W', 'title': 'Pythons and their ways', 'published_year': 1930}, {'id': 3, 'key': '/works/OL19543337W', 'title': 'Python Programming: An Introduction to Computer Science, 3rd Ed.', 'published_year': 2016}, {'id': 4, 'key': '/works/OL2913736W', 'title': 'Pythons', 'published_year': 1996}, {'id': 5, 'key': '/works/OL2723583W', 'title': 'Pythons', 'published_year': 2009}, {'id': 6, 'key': '/works/OL2684899W', 'title': 'The first 20 years of Monty Python', 'published_year': 1989}, {'id': 7, 'key': '/works/OL2367908W', 'title': 'Python annotated archives', 'published_year': 1999}  ... displaying 10 of 100 total bound parameter sets ...  {'id': 98, 'key': '/works/OL15909399W', 'title': 'Pythons', 'published_year': 2011}, {'id': 99, 'key': '/works/OL18657847W', 'title': 'The practice of computing using Python', 'published_year': 2010})
2019-12-13 21:01:45,100 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,101 INFO sqlalchemy.engine.base.Engine {'parent_id': 0, 'subject': ['Pythons']}
2019-12-13 21:01:45,103 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,105 INFO sqlalchemy.engine.base.Engine {'parent_id': 1, 'subject': ['Pythons']}
2019-12-13 21:01:45,110 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,110 INFO sqlalchemy.engine.base.Engine {'parent_id': 2, 'subject': ['Pythons']}
2019-12-13 21:01:45,112 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,113 INFO sqlalchemy.engine.base.Engine {'parent_id': 3, 'subject': ['Python', 'Python (Computer program language)']}
2019-12-13 21:01:45,114 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,115 INFO sqlalchemy.engine.base.Engine {'parent_id': 4, 'subject': ['Juvenile literature', 'Snakes', 'Pythons']}
2019-12-13 21:01:45,117 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,118 INFO sqlalchemy.engine.base.Engine {'parent_id': 5, 'subject': ['Pythons as pets']}
2019-12-13 21:01:45,119 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,120 INFO sqlalchemy.engine.base.Engine {'parent_id': 6, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-13 21:01:45,123 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,124 INFO sqlalchemy.engine.base.Engine {'parent_id': 7, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,126 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,135 INFO sqlalchemy.engine.base.Engine {'parent_id': 8, 'subject': ['python', 'biopython', 'bioinformatics']}
2019-12-13 21:01:45,139 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,140 INFO sqlalchemy.engine.base.Engine {'parent_id': 9, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-13 21:01:45,142 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,143 INFO sqlalchemy.engine.base.Engine {'parent_id': 10, 'subject': ['Python', 'Game Programming']}
2019-12-13 21:01:45,146 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,147 INFO sqlalchemy.engine.base.Engine {'parent_id': 11, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,150 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,159 INFO sqlalchemy.engine.base.Engine {'parent_id': 12, 'subject': ['Ball pythons as pets']}
2019-12-13 21:01:45,162 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,163 INFO sqlalchemy.engine.base.Engine {'parent_id': 13, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,165 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,167 INFO sqlalchemy.engine.base.Engine {'parent_id': 14, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,170 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,172 INFO sqlalchemy.engine.base.Engine {'parent_id': 15, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,174 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,176 INFO sqlalchemy.engine.base.Engine {'parent_id': 16, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,178 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,179 INFO sqlalchemy.engine.base.Engine {'parent_id': 17, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-13 21:01:45,181 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,182 INFO sqlalchemy.engine.base.Engine {'parent_id': 18, 'subject': ['Ball pythons as pets']}
2019-12-13 21:01:45,184 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,185 INFO sqlalchemy.engine.base.Engine {'parent_id': 19, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-13 21:01:45,188 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,189 INFO sqlalchemy.engine.base.Engine {'parent_id': 20, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,191 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,192 INFO sqlalchemy.engine.base.Engine {'parent_id': 21, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,194 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,195 INFO sqlalchemy.engine.base.Engine {'parent_id': 22, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-13 21:01:45,197 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,198 INFO sqlalchemy.engine.base.Engine {'parent_id': 23, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-13 21:01:45,199 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id

2019-12-13 21:01:45,200 INFO sqlalchemy.engine.base.Engine {'parent_id': 24, 'subject': ['Pictorial works', 'Pythons']}
2019-12-13 21:01:45,202 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,203 INFO sqlalchemy.engine.base.Engine {'parent_id': 25, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-13 21:01:45,205 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,206 INFO sqlalchemy.engine.base.Engine {'parent_id': 26, 'subject': ['Ball pythons as pets']}
2019-12-13 21:01:45,208 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,209 INFO sqlalchemy.engine.base.Engine {'parent_id': 27, 'subject': ['Burmese pythons as pets']}
2019-12-13 21:01:45,211 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,212 INFO sqlalchemy.engine.base.Engine {'parent_id': 28, 'subject': ['Juvenile literature', 'Pythons']}
2019-12-13 21:01:45,213 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,214 INFO sqlalchemy.engine.base.Engine {'parent_id': 29, 'subject': ['Obedience', 'Pythons', 'Fiction']}
2019-12-13 21:01:45,216 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,217 INFO sqlalchemy.engine.base.Engine {'parent_id': 30, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,243 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,244 INFO sqlalchemy.engine.base.Engine {'parent_id': 31, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,246 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,247 INFO sqlalchemy.engine.base.Engine {'parent_id': 32, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,249 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,250 INFO sqlalchemy.engine.base.Engine {'parent_id': 33, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,252 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,253 INFO sqlalchemy.engine.base.Engine {'parent_id': 34, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,255 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,256 INFO sqlalchemy.engine.base.Engine {'parent_id': 35, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,258 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,259 INFO sqlalchemy.engine.base.Engine {'parent_id': 36, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-13 21:01:45,261 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,261 INFO sqlalchemy.engine.base.Engine {'parent_id': 37, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,263 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,264 INFO sqlalchemy.engine.base.Engine {'parent_id': 38, 'subject': ['Juvenile fiction', 'Pythons', 'Fiction']}
2019-12-13 21:01:45,266 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,267 INFO sqlalchemy.engine.base.Engine {'parent_id': 39, 'subject': ['Ball pythons as pets']}
2019-12-13 21:01:45,269 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,269 INFO sqlalchemy.engine.base.Engine {'parent_id': 40, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,272 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,273 INFO sqlalchemy.engine.base.Engine {'parent_id': 41, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,274 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,275 INFO sqlalchemy.engine.base.Engine {'parent_id': 42, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,277 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,278 INFO sqlalchemy.engine.base.Engine {'parent_id': 43, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,280 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,281 INFO sqlalchemy.engine.base.Engine {'parent_id': 44, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,283 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,283 INFO sqlalchemy.engine.base.Engine {'parent_id': 45, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,285 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,286 INFO sqlalchemy.engine.base.Engine {'parent_id': 46, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,298 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,309 INFO sqlalchemy.engine.base.Engine {'parent_id': 47, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,311 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,313 INFO sqlalchemy.engine.base.Engine {'parent_id': 48, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,315 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,316 INFO sqlalchemy.engine.base.Engine {'parent_id': 49, 'subject': ['Monty Python (Comedy troupe)']}
2019-12-13 21:01:45,317 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,318 INFO sqlalchemy.engine.base.Engine {'parent_id': 50, 'subject': ['Python (Computer program language)']}
2019-12-13 21:01:45,320 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,321 INFO sqlalchemy.engine.base.Engine {'parent_id': 51, 'subject': ['Ball pythons as pets']}
2019-12-13 21:01:45,323 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,324 INFO sqlalchemy.engine.base.Engine {'parent_id': 52, 'subject': ['Drama', 'Monty Python (Comedy troupe)']}
2019-12-13 21:01:45,326 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id

2019-12-13 21:01:45,327 INFO sqlalchemy.engine.base.Engine {'parent_id': 53, 'subject': ['Python (Langage de programmation)', 'Python (linguagem de programação)', 'In library', 'Python (Computer program language)', 'Python (Lenguaje de pr ... (61 characters truncated) ...  book', 'Python (programmeertaal)', 'Object-oriented programming (Computer science)', 'Python (Computer language)', 'Protected DAISY', 'Interpréteur']}
2019-12-13 21:01:45,329 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,330 INFO sqlalchemy.engine.base.Engine {'parent_id': 54, 'subject': ['Computer Technology', 'Python (Computer program language)', 'Accessible book', 'Python (Programmiersprache)', 'Nonfiction', 'Protected DAISY']}
2019-12-13 21:01:45,331 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,332 INFO sqlalchemy.engine.base.Engine {'parent_id': 55, 'subject': ['python', 'Python (Computer program language)', 'Accessible book', 'programming', 'Protected DAISY']}
2019-12-13 21:01:45,334 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,335 INFO sqlalchemy.engine.base.Engine {'parent_id': 56, 'subject': ['Comedians', 'Monty Python (Comedy troupe)']}
2019-12-13 21:01:45,337 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,338 INFO sqlalchemy.engine.base.Engine {'parent_id': 57, 'subject': ['biology', 'Snakes', 'African python', 'boa constrictor', 'anaconda', 'Burmese python', 'reticulated python', 'nonfiction']}
2019-12-13 21:01:45,340 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,341 INFO sqlalchemy.engine.base.Engine {'parent_id': 58, 'subject': ['Python (Monty) Pictures', 'Monty Python (Comedy troupe)', 'Censorship']}
2019-12-13 21:01:45,343 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,344 INFO sqlalchemy.engine.base.Engine {'parent_id': 59, 'subject': ['Python <Programmiersprache>', 'Verzeichnis', 'Accessible book', 'Python (Programmiersprache)', 'Protected DAISY', 'Befehlsvorrat']}
2019-12-13 21:01:45,345 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,346 INFO sqlalchemy.engine.base.Engine {'parent_id': 60, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation', 'Technology']}
2019-12-13 21:01:45,348 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,349 INFO sqlalchemy.engine.base.Engine {'parent_id': 61, 'subject': ['Python 3', 'Computing', 'Python', 'Accessible book', 'Programming languages', 'Initiation']}
2019-12-13 21:01:45,351 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,352 INFO sqlalchemy.engine.base.Engine {'parent_id': 62, 'subject': ['Python <Programmiersprache>', 'Python', '(Programmiersprache)', 'Accessible book', 'Protected DAISY']}
2019-12-13 21:01:45,354 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,355 INFO sqlalchemy.engine.base.Engine {'parent_id': 63, 'subject': ['Accessible book', 'Python (Programmiersprache)', 'Python 3.0.', 'Protected DAISY']}
2019-12-13 21:01:45,357 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,358 INFO sqlalchemy.engine.base.Engine {'parent_id': 64, 'subject': ['Python 3.0', 'Accessible book', 'Python 3.0.', 'Protected DAISY']}
2019-12-13 21:01:45,360 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,361 INFO sqlalchemy.engine.base.Engine {'parent_id': 65, 'subject': ['Introduced reptiles', 'Python (Genus)', 'Burmese python', 'Internet Archive Wishlist']}
2019-12-13 21:01:45,363 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,379 INFO sqlalchemy.engine.base.Engine {'parent_id': 66, 'subject': ['Pythons -- Fiction.', 'Jungle animals -- Fiction.']}
2019-12-13 21:01:45,387 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,389 INFO sqlalchemy.engine.base.Engine {'parent_id': 67, 'subject': ['Drama', 'Monty Python (Comedy troupe)']}
2019-12-13 21:01:45,393 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,394 INFO sqlalchemy.engine.base.Engine {'parent_id': 68, 'subject': ['Python (Computer program language)', 'Bioinformatics']}
2019-12-13 21:01:45,396 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,397 INFO sqlalchemy.engine.base.Engine {'parent_id': 69, 'subject': ['Python (Computer program language)', 'Bioinformatics']}
2019-12-13 21:01:45,399 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,400 INFO sqlalchemy.engine.base.Engine {'parent_id': 70, 'subject': ['Law and legislation', 'Pythons', 'Boidae']}
2019-12-13 21:01:45,402 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,403 INFO sqlalchemy.engine.base.Engine {'parent_id': 71, 'subject': ['Juvenile fiction', 'Mice', 'Pythons', 'Elephants']}
2019-12-13 21:01:45,406 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,407 INFO sqlalchemy.engine.base.Engine {'parent_id': 72, 'subject': ['Python (Computer program language)', 'Microcontrollers']}
2019-12-13 21:01:45,409 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,410 INFO sqlalchemy.engine.base.Engine {'parent_id': 73, 'subject': ['In library', 'Accessible book', 'Anaconda', 'African rock python', 'Protected DAISY', 'Indian python', 'Reticulated python']}
2019-12-13 21:01:45,412 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,412 INFO sqlalchemy.engine.base.Engine {'parent_id': 74, 'subject': ["Monty Python's Flying Circus (Television program)", 'Television', 'Monty Python (Comedy troupe)', 'Censorship']}
2019-12-13 21:01:45,414 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,415 INFO sqlalchemy.engine.base.Engine {'parent_id': 75, 'subject': ['Python (programmeertaal)', 'In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-13 21:01:45,417 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,418 INFO sqlalchemy.engine.base.Engine {'parent_id': 76, 'subject': ['Multimedia systems', 'Python (Computer program language)']}
2019-12-13 21:01:45,419 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id

2019-12-13 21:01:45,420 INFO sqlalchemy.engine.base.Engine {'parent_id': 77, 'subject': ["Monty Python's Flying Circus (Television program)"]}
2019-12-13 21:01:45,423 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,423 INFO sqlalchemy.engine.base.Engine {'parent_id': 78, 'subject': ['Snakes as pets', 'Pets', 'Pythons', 'Fiction']}
2019-12-13 21:01:45,426 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,426 INFO sqlalchemy.engine.base.Engine {'parent_id': 79, 'subject': ['In library', 'Python (Computer program language)', 'Accessible book', 'Protected DAISY']}
2019-12-13 21:01:45,437 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,439 INFO sqlalchemy.engine.base.Engine {'parent_id': 80, 'subject': ['Accessible book', 'Python (Computer program language)', 'Protected DAISY']}
2019-12-13 21:01:45,442 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,443 INFO sqlalchemy.engine.base.Engine {'parent_id': 81, 'subject': ['In library', 'Snakes', 'Accessible book', 'Protected DAISY', 'Indian python', 'Juvenile literature', 'Pythons']}
2019-12-13 21:01:45,447 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,448 INFO sqlalchemy.engine.base.Engine {'parent_id': 82, 'subject': ['Python (Monty) Pictures', 'In library', 'Accessible book', 'Monty Python (Comedy troupe)', "Monty Python's Flying Circus (Television program)", 'Comedians', 'Protected DAISY', 'Biography']}
2019-12-13 21:01:45,455 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,456 INFO sqlalchemy.engine.base.Engine {'parent_id': 83, 'subject': ['Pythons', 'Humorous stories', 'Snakes', 'Family life', 'Fiction']}
2019-12-13 21:01:45,459 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,460 INFO sqlalchemy.engine.base.Engine {'parent_id': 84, 'subject': ['Anatomy', 'Pelvic bones', 'Embryology', 'Reticulated python']}
2019-12-13 21:01:45,463 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,464 INFO sqlalchemy.engine.base.Engine {'parent_id': 85, 'subject': ['Computer programming', 'Python (Computer program language)']}
2019-12-13 21:01:45,467 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,468 INFO sqlalchemy.engine.base.Engine {'parent_id': 86, 'subject': ['Boidae', 'Juvenile literature', 'Boa constrictor', 'Pythons', 'Snakes']}
2019-12-13 21:01:45,471 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,473 INFO sqlalchemy.engine.base.Engine {'parent_id': 87, 'subject': ['Computer programming', 'Python (Computer program language)']}
2019-12-13 21:01:45,477 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,479 INFO sqlalchemy.engine.base.Engine {'parent_id': 88, 'subject': ['Python (Computer program language)', 'Microsoft Win32']}
2019-12-13 21:01:45,485 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,486 INFO sqlalchemy.engine.base.Engine {'parent_id': 89, 'subject': ['Stories in rhyme', 'Snakes', 'Pythons', 'Fiction']}
2019-12-13 21:01:45,489 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,490 INFO sqlalchemy.engine.base.Engine {'parent_id': 90, 'subject': ["Monty Python's complete waste of time"]}
2019-12-13 21:01:45,492 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,493 INFO sqlalchemy.engine.base.Engine {'parent_id': 91, 'subject': ['Reproduction', 'Breeding', 'Snake culture', 'Pythons', 'Boidae']}
2019-12-13 21:01:45,496 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,497 INFO sqlalchemy.engine.base.Engine {'parent_id': 92, 'subject': ['Python (Computer program language)', 'Microsoft Win32']}
2019-12-13 21:01:45,499 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,500 INFO sqlalchemy.engine.base.Engine {'parent_id': 93, 'subject': ['Ball pythons as pets', 'Juvenile literature']}
2019-12-13 21:01:45,502 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,503 INFO sqlalchemy.engine.base.Engine {'parent_id': 94, 'subject': ['Multimedia systems', 'Python (Computer program language)']}
2019-12-13 21:01:45,505 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,506 INFO sqlalchemy.engine.base.Engine {'parent_id': 95, 'subject': ['Python (Computer program language)', 'Programming', 'Computer games']}
2019-12-13 21:01:45,509 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,510 INFO sqlalchemy.engine.base.Engine {'parent_id': 96, 'subject': ['Juvenile literature', 'Pythons', 'Internet Archive Wishlist']}
2019-12-13 21:01:45,512 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,513 INFO sqlalchemy.engine.base.Engine {'parent_id': 97, 'subject': ['Ball pythons as pets', 'Internet Archive Wishlist']}
2019-12-13 21:01:45,516 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,532 INFO sqlalchemy.engine.base.Engine {'parent_id': 98, 'subject': ['Juvenile literature', 'Pythons', 'Internet Archive Wishlist']}
2019-12-13 21:01:45,539 INFO sqlalchemy.engine.base.Engine INSERT INTO subjects (parent_id, subject) VALUES (%(parent_id)s, %(subject)s) RETURNING subjects.id
2019-12-13 21:01:45,543 INFO sqlalchemy.engine.base.Engine {'parent_id': 99, 'subject': ['Computer programming', 'Python (Computer program language)']}
2019-12-13 21:01:45,551 INFO sqlalchemy.engine.base.Engine COMMIT